.hero_landing_page {
  padding: 64px 0 72px 0;

  @media screen and (max-width: 768px) {

    padding: 48px 0 56px 0;

    .horizontal_scrollable_items_container {
      position: relative;
      margin: 0 -15px;
      padding-left: 15px;
    }

  }
}
