.filterpill {
	border-radius: 18px;
	background-color: #dfe3f0;
	height: 36px;
	background-color: $color-cloudy-sky;
	color: $color-har-blue-dark;
	font-size: $font-size-small;
	border: none;
	display: inline-block;
	padding: 9px 34px 9px 16px;
	position: relative;
	line-height: 1;
	
	&:after {
		content: "";
		position: absolute;
		right: 11px; 
		top: 11px;
		width: 16px;
		height: 16px;
		background: url(https://content.harstatic.com/resource_2019/imgs/icons/pluse_wite_circle.svg) no-repeat center center;
	}
	
	&--active {
		background-color: $color-har-blue-dark;
		color: $color-snow-white;
		&:after {
			background: url(https://content.harstatic.com/resource_2019/imgs/icons/pencile_edit.svg) no-repeat center center;
		}		
	}
	
	&--closeable {
		background-color: $color-har-blue-dark;
		color: $color-snow-white;
		line-height: 18px;
		display: inline-block;
		&:after {
			background: none;
			content: none;
		}		
		a {
			display:block;
			position: absolute;
			right: 11px; 
			top: 11px;
			width: 16px;
			height: 16px;
			background: url(https://content.harstatic.com/resource_2019/imgs/icons/cross_with_whitebg.svg) no-repeat center center;
		}		
	}
	
	&--all {
		background-color: $color-har-blue-dark;
		color: $color-snow-white;
		padding: 9px 16px 9px 16px;
		
		span {
			display: inline-block;
			border-radius: 50%;
			background-color: $color-har-pink;
			height: 16px;
			width: 16px;
			line-height: 16px;
			text-align: center;
			font-size: $font-size-small-extra;
			margin-left: 6px;
		}
		
		&:after {
			content: none;
			background: none;
		}		
	}
	
	&:disabled {
		opacity: 0.5;
	}
}


.iconpill {
	border-radius: 18px;
	background-color: #dfe3f0;
	height: 38px;
	background-color: $color-cloudy-sky;
	color: $color-har-blue-dark;
	font-size: $font-size-small;
	font-weight: $font-weight-semi-bold;
	border: none;
	display: inline-block;
	padding: 9px 42px 9px 16px;
	position: relative;
	line-height: 1;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
  
	span {
		display: block;
		position: absolute;
		right: 7px; 
		top: 7px;
		width: 24px;
		height: 24px;
		border-radius: 50%;		
		background-color: #ffffff;
		line-height: 23px;
	}
	
	&:hover {
		opacity: 0.5;
	}
}

.folder {
	background-color: $color-slate-light;
	border-radius: 2px;
	height: 24px;
	line-height: 24px;
	font-size: $font-size-small;
	color: $color-snow-white;
	display: inline-block;
	position: relative;
	padding-left: 6px; 
	padding-right: 22px;
	
	&--closeable {		
		a {
			display:block;
			position: absolute;
			right: 2px; 
			top: 0px;
			width: 16px;
			height: 16px;
			margin-left: 4px;
		}		
	}
}

.alphabets_filter {
	overflow: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	background-color: #ffffff;
	border-radius: 4px;
	padding-bottom: 15px;
	
	ul {
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
		border: solid 1px $color-har-blue-dark;
		display: block;
		border-radius: 4px;		
		margin:0px;
		display: inline-flex;
		align-self: center;
		overflow:hidden;		
		
		li {
			display:block;
			margin:0px;
			padding:0px;		
			
			a { 
				display: block;
				width: 41px;
				height: 48px;
				text-align: center;
				text-decoration: none;
				font-size: $font-size-large;
				color: $color-carbon;
				font-weight: $font-weight-semi-bold;
				line-height:48px;
				overflow: hidden;
				border-right: 1px solid #dddddd;
				border-bottom: 1px solid #fff;
				
				&:hover {
					border-bottom: 1px solid $color-har-pink;
					background-color: $color-har-blue-dark;
					color: $color-snow-white;
				}
				
				&.active {
					border-bottom: 1px solid $color-har-pink;
					background-color: $color-har-blue-dark;
					color: $color-snow-white;
				}
				
				&.disable {
					background-color: $color-cement-light !important;
					color: rgba(93, 94, 94, 0.56) !important;
					border-bottom: 1px solid $color-cement-light !important;
				}
			}
		}
	}
}