/* ====== COLORS ====== */

// Brand Colors
$color-har-blue: #0738CD;
$color-har-blue-light: #94AAEB;
$color-har-blue-light-extra: #DAE1F8;
$color-har-blue-dark: #042280;
$color-har-pink: #FD4B78;
$color-har-pink-light: #FFA4BB;
$color-har-pink-light-extra: #FFE4EB;
$color-har-pink-dark: #B03453;

// UI Colors
$color-available: #018361;
$color-available-light: #E5FFF9;
$color-pending: #FBA000;
$color-pending-light: #FDF7CF;
$color-sold: #CC0000;
$color-sold-light: #FFD8D8;
$color-auxiliary: #515B7A;
$color-auxiliary-light: #AFB8D9;

// Grey Colors
$color-black: #000;
$color-carbon: #212529;
$color-cement: #DDDDDD;
$color-cement-light: #F3F4F7;
$color-cement-dark: #5D5E5E;
$color-slate: #3B5363;
$color-slate-light: #52738A;
$color-cloudy-sky: #DFE3F0;
$color-cloudy-sky-light: #EDF0FA;
$color-snow-white: #FFF;


/* ====== FONT SIZES ====== */
$font-size-small-extra: 11px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-large-extra: 18px;
$font-size-large-extra-extra: 24px;
$font-size-large-extra-extra-extra: 32px;
$font-size-large-extra-extra-extra-extra: 48px;


/* ====== FONT WEIGHTS ====== */
$font-weight-light: 200;
$font-weight-regular: 300;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
