.popover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
	border: solid 1px $color-cloudy-sky;
	opacity: 1;
		
	&--standard {
			
		&_large {
			max-width: 480px;		
		}
		
		.popover-header {
			background-color: $color-cement-light;
			color: $color-auxiliary;
			border-bottom: 1px solid $color-auxiliary-light;
			font-size: $font-size-medium;
			font-weight: $font-weight-semi-bold;
			position: relative;
			padding: 0.35rem 0.75rem;
			
			&:before {
				content: "";
				position: absolute;
			    left: calc(50% - 13px);
			    top: -10px;
			    width: 0;
			    height: 0;
			    border-left: 13px solid transparent;
			    border-right: 13px solid transparent;
			    border-bottom: 13px solid $color-cement-light;
			}
		}
	
	}
	
	.popover-body {
		height: 100%;
		max-height: 50vh;
		overflow-y: scroll;
		padding: 32px;
		font-size: $font-size-small;
	}
}
