.card {
	display: block !important;
	border-radius: 4px;
	overflow: hidden;

	// depth--emboss
	border: 1px solid $color-cloudy-sky;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);

	text-align: left;
	text-decoration: none !important;
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	margin-bottom: 30px;
	background-color: $color-snow-white;

	&--landscape_with_icon,
	&--landscape_small,
	&--landscape_medium,
	&--portrait_medium {
		&:hover {
			border: 1px solid $color-auxiliary-light;
		}
	}

	&--landscape_large,
	&--landscape_medium,
	&--portrait_medium {
		&__image_content {
			&__image {
				@include transition('medium');
			}
		}
	}

	&:hover & {
		&--landscape_medium,
		&--listing,
		&--portrait_medium {
			&__image_content {
				&__image {
					transform: scale(1.05, 1.05) !important;
				}
			}
		}
	}

	&:active {
		border: 1px solid $color-auxiliary-light;
		box-shadow: none !important;
	}

	&--landscape_large,
	&--landscape_medium {

		display: grid !important;
		grid-gap: 0;
		grid-template-columns: 35% 65%;
		grid-template-rows: 100% auto;
		grid-template-areas: 'a b';

		@media screen and (max-width: 600px) {
			grid-template-columns: 100%;
			grid-template-rows: 120px auto;
		}

		&__image_content {
			// float: left;
			// width: 112px;
			// height: 120px;
			grid-area: a;
			width: 100%;
			height: 100%;
			background-color: $color-cloudy-sky-light;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 4px 0 0 4px;
			overflow: hidden;

			// @media screen and (max-width: 768px) {
		  //   width: 40%;
			// 	height: 88px;
		  // }

			@media screen and (max-width: 600px) {
				border-radius: 4px 4px 0 0;
			}

			a {
				display: block;
				width: 100%;
				height: 100%;
			}

			&__image {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
			}
		}

		&__content {
			// float: left;
			grid-area: b;
			// width: calc(100% - 112px);
			width: 100%;
			overflow: hidden;
			margin-left: 0;
			padding: 24px;
			color: $color-auxiliary;

			// @media screen and (max-width: 768px) {
		  //   width: 60%;
			// 	padding: 16px;
		  // }

			@media screen and (max-width: 600px) {
				grid-column-start: 1;
				grid-row-start: 2;
				padding: 16px;
			}
		}

		h5 {
			font-size: $font-size-large;
	    line-height: 24px;
			font-weight: $font-weight-bold;
			margin-bottom: 4px;
			color: $color-carbon;

			a {
				color: $color-carbon;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			@media screen and (max-width: 768px) {
				font-size: $font-size-medium;
		    line-height: 16px;
			}
		}

		&__text {
			color: $color-auxiliary;
			font-size: $font-size-small;
			line-height: 18px;

		}
	}

	&--landscape_large {
		&__image_content {
			&__image {
				&:hover {
					transform: scale(1.05, 1.05);
				}
			}
		}

		&__content {
			padding: 24px;
		}

		&__text {
			color: $color-auxiliary;
			font-size: $font-size-medium;
			line-height: 20px;
		}
	}

	&--portrait_medium {
		&__image_content {
			width: 100%;
			height: 190px;
			background-color: $color-cloudy-sky-light;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 4px 4px 0 0;
			overflow: hidden;
			z-index: 1;

			@media screen and (max-width: 768px) {
		    height: 136px;
		  }

			&__image {
				width: 100%;
				height: 100%;
				background-size: cover;
			}
		}

		&__text {
			color: $color-auxiliary;
			font-size: $font-size-small;
			line-height: 22px;
		}

		&__content {
			position: relative;
			z-index: 2;
			background: $color-snow-white;
			margin-top: -24px;
			padding: 16px;
			margin-left: 0px;
			text-align: center;
			border-radius: 4px;
		}

		h5 {
			font-size: $font-size-medium;
			line-height: 24px;
			font-weight: $font-weight-bold;
			margin-bottom: 4px;
			color: $color-carbon;

			@media screen and (max-width: 768px) {
				font-size: $font-size-medium;
		    line-height: 16px;
			}
		}
	}

	&--listing {
		border: none !important;
		box-shadow: 0 0px 0px rgba(0,0,0,0.0);

		// a:hover .card--listing__body__image_content_image {
		// 	transform: scale(1.05, 1.05);
		// }

		&--portrait & {
			&__body {
				a {
					grid-template-columns: 100%;
					grid-template-rows: 200px auto;
				}

				&__content {
					grid-column-start: 1;
					grid-row-start: 2;
					padding: 16px;
				}
			}
		}

		&__body {
			position: relative;
			box-shadow: 0 1px 2px rgba(0,0,0,0.1);
			// min-height: 240px;

			a {
				@include transition('medium');
				border: 1px solid $color-cloudy-sky;
				overflow: hidden;
				border-radius: 4px;
				display: grid;
				grid-gap: 0;
				grid-template-columns: 40% 60%;
				grid-template-rows: 100% auto;
				grid-template-areas: 'a b';

				@media screen and (max-width: 600px) {
					grid-template-columns: 100%;
					grid-template-rows: 200px auto;
				}

				&:hover,
				&:active {
					text-decoration: none;
					border: 1px solid $color-auxiliary-light;
				}
			}

			a:hover & {
				&__image_content_image {
					transform: scale(1.05, 1.05);
				}
			}

			&__image_content {
				grid-area: a;
				width: 100%;
				height: 100%;
				background-color: $color-cloudy-sky-light;
				overflow: hidden;

				&_image {
					@include transition('medium');
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
				}
			}

			&__content {
				grid-area: b;
				width: 100%;
				padding: 10px 10px 16px 24px;

				@media screen and (max-width: 600px) {
					grid-column-start: 1;
					grid-row-start: 2;
					padding: 16px;
				}

				h4 {
					margin-bottom: 0;
					white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
				}

				&__description_row {
					border-top: 1px solid $color-cloudy-sky !important;
					padding: 3px;
					width: 50%;
					float: left;
					color: $color-slate;
				}
			}

		}

		&__header {
			margin-bottom: 10px;
		}

		&--small & {
			&__body {
				a {
					grid-gap: 0;
					grid-template-columns: 31% 69%;
					grid-template-rows: 100% auto;
					grid-template-areas: 'a b';

					@media screen and (max-width: 600px) {
						grid-template-columns: 18% 82%;
						grid-template-rows: 100% auto;
					}
				}

				&__content {
					padding: 8px !important;

					@media screen and (max-width: 600px) {
						grid-column-start: auto !important;
						grid-row-start: auto !important;
					}

					h4 {
						font-size: $font-size-medium;
					}

					&__description_row {
						padding: 2px 0 0 0;
						width: calc(100% / 3);

						@media screen and (max-width: 600px) {
							display: none;
						}
					}
				}
			}
		}

	}

	&--landscape_small {
		margin-bottom: 0px;

		a {
			font-size: $font-size-medium;
			color: $color-black;
			font-weight: $font-weight-bold;
			padding: 18px 10px;
			text-align: center;
			display: block;

			&:hover {
				text-decoration: none;
				color: $color-black;
			}
		}

		&--with_icon {
			a {
				padding: 10px;
				text-align: left;

				&:before {
					content: "";
					width: 36px;
					height: 36px;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: contain;
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
				}

			}
		}

		&--with_icon {
			&--email {
				a {
					&:before {
						background-image: url("https://content.harstatic.com/resource_2019/imgs/icons/social/social_icon_email.svg");
					}
				}
			}
			&--facebook {
				a {
					&:before {
						background-image: url("https://content.harstatic.com/resource_2019/imgs/icons/social/social_icon_facebook.svg");
					}
				}
			}
			&--twitter {
				a {
					&:before {
						background-image: url("https://content.harstatic.com/resource_2019/imgs/icons/social/social_icon_twitter.svg");
					}
				}
			}
			&--tumblr {
				a {
					&:before {
						background-image: url("https://content.harstatic.com/resource_2019/imgs/icons/social/social_icon_tumblr.svg");
					}
				}
			}
			&--microsoft {
				a {
					&:before {
						background-image: url("https://content.harstatic.com/resource_2019/imgs/icons/social/social_icon_microsoft.svg");
					}
				}
			}
			&--linkedin {
				a {
					&:before {
						background-image: url("https://content.harstatic.com/resource_2019/imgs/icons/social/social_icon_linkedin.svg");
					}
				}
			}
			&--digg {
				a {
					&:before {
						background-image: url("https://content.harstatic.com/resource_2019/imgs/icons/social/social_icon_digg.svg");
					}
				}
			}
			&--reddit {
				a {
					&:before {
						background-image: url("https://content.harstatic.com/resource_2019/imgs/icons/social/social_icon_reddit.svg");
					}
				}
			}
			&--delicious {
				a {
					&:before {
						background-image: url("https://content.harstatic.com/resource_2019/imgs/icons/social/social_icon_delicious.svg");
					}
				}
			}
		}

	}





	// &--listing_vertical {
	// 	border: none !important;
	// 	box-shadow: 0 0px 0px rgba(0,0,0,0.0);
	//
	// 	&__body {
	// 		position: relative;
	// 		border: 1px solid $color-cloudy-sky;
	// 		box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	// 		border-radius: 4px;
	// 		&:hover,
	// 		&:active {
	// 			border: 1px solid $color-auxiliary-light;
	// 		}
	//
	// 		&__image_content {
	// 			width: 100%;
	// 			height: 190px;
	// 			background-color: $color-cloudy-sky-light;
	//
	// 			&_image {
	// 				@include transition('medium');
	// 				width: 100%;
	// 				height: 100%;
	// 				background-repeat: no-repeat;
	// 				background-size: cover;
	// 				background-position: center center;
	// 				overflow: hidden;
	// 				z-index: 1;
	//
	// 				&:hover {
	// 			    transform: scale(1.05, 1.05);
	// 				}
	//
	// 				a {
	// 					display: block;
	// 					width: 100%;
	// 					height: 100%;
	// 				}
	// 			}
	// 		}
	//
	// 		&__content {
	// 			padding: 10px;
	//
	// 			.description_row {
	// 				border-top: 1px solid $color-cloudy-sky !important;
	// 				padding: 3px;
	// 				width: 50%;
	// 				float: left;
	// 			}
	// 		}
	//
	// 	}
	//
	// 	&__header {
	// 		margin-bottom: 10px;
	// 	}
	// }

}

.card_portrait_medium_container {
	.col {
		padding-left: 10px !important;
		padding-right: 10px !important;

		&:first-child {
			padding-left: 15px !important;
		}

		&:last-child {
			padding-right: 15px !important;
		}
	}
}
