.dropdown {

  a.dropdown-item {
    font-size: $font-size-medium;
    color: $color-carbon;
    padding: 10px 11px;

    &:hover {
      /*background: $color-cloudy-sky-light;*/
      background-color:#f3f4f7;
    }

    &:active,.selected {
      background-color: $color-cloudy-sky-light;
    }
  }
}
