.modal {
	&--full-width{
		.modal-xl {
			max-width:100%;
			margin:35px;
		}
	}
	
	&--medium{
		.modal-lg {
			max-width:894px;
		}
	}
	
	&--small{
		.modal-sm {
			max-width:526px;
		}
	}
	
	.close {
		opacity: 1;
		position: absolute;
		right: 15px;
	}
	.modal-title{
		font-size: 24px;
		line-height: 32px;
		color: $color-har-blue-dark;
		font-weight: $font-weight-bold;
		width: 100%;
		text-align: center;
				align-self: center;
	}
	.modal-header {
		height: 80px;
		border-bottom: 1px solid $color-auxiliary-light;
	}
	.modal-footer {
		border-top: 1px solid $color-cloudy-sky;
		height: 100px;
		justify-content: center;
	}
}