.agent_signature {
  text-align: left;

  a {
    &:hover {
	   opacity: 0.85;
	   text-decoration: none !important;
    }
  }

  &__photo {
    float: left;
    margin-right: 8px;
	
	a, > div {
		display: block;
		width: 32px;
		height: 32px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 50%;
	}
  }
  
  &__info {
    width: calc(100% - 40px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    line-height: 16px;

    &__agent_name {
      font-size: $font-size-small;
      color: $color-carbon;
      //color: $color-har_blue_dark;
      font-weight: $font-weight-semi-bold;
    }
    &__broker_name {
      font-size: $font-size-small;
      color: $color-slate !important;
      opacity: 0.85;
    }
  }
  
  &--photoonlye {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	background-color: #f3f4f7;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(https://content.harstatic.com/media/icons/icon_no_user.svg);
	background-size: 29px;
	
	span {
		display: block;
		width: 96px;
		height: 96px;
		border-radius: 50%;
		border: solid 0.8px #dfe3f0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;		
	}
  }
}

.agent_signature--large {
  text-align: left;

  a {
    &:hover {
	   opacity: 0.85;
	   text-decoration: none !important;
    }
  }

  &__photo {
    float: left;
    margin-right: 8px;
	
	a {
		display: block ;
		width: 52px;
		height: 52px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 50%;
	}
  }
  
  &__info {
    width: calc(100% - 60px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	padding-top: 5px;
    line-height: 20px;

    &__agent_name {
      font-size: $font-size-large;
      color: $color-har_blue_dark;
      font-weight: $font-weight-semi-bold;
    }
    &__broker_name {
      font-size: $font-size-small;
      color: $color-slate !important;
      opacity: 1;
    }
  }
}


.agent_signature--large_extra {
  text-align: left;
  display: flex;
  
  a {
    &:hover {
	   opacity: 0.85;
	   text-decoration: none !important;
    }
  }

  &__photo {
    float: left;
    margin-right: 15px;
	
	a {
		display: block ;
		width: 104px;
		height: 104px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 50%;
		@media screen and (max-width: 767px) {
			width: 72px;
			height: 72px;			
		}

	}
  }
  
  &__info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	padding-top: 5px;
    line-height: 20px;
    align-self: center;

    &__agent_name {
      font-size: $font-size-large_extra_extra;
      color: $color-har_blue_dark;
      font-weight: $font-weight-bold;
      text-decoration: none !important;
      padding-bottom: 5px;
      display: block;
      @media screen and (max-width: 767px) {
			font-size: $font-size-large_extra;
		}
    }
    &__broker_name {
      font-size: $font-size-medium;
      color: $color-slate_light !important;
      display: block;
      opacity: 1;
    }
  }
}




.agent_signature--square {
  text-align: left;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px $color-cloudy-sky;
  background-color: $color-snow-white;
  border-radius: 4px;
  display: flex;
  width: 100%;
  
  a {
    &:hover {
	   opacity: 0.85;
    }
  }

  &__photo {
	width: 72px;
	height: 100%;
	
	a {
		display: block ;
		width: 72px;
		height: 72px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 4px 0px 0px 4px;		
	}
  }
  
  &__info {
    width: calc(100% - 72px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	padding: 0px 10px;
	align-self: center;

    &__agent_name {
      font-size: $font-size-small;
      color: $color-carbon !important;
      font-weight: $font-weight-bold;
      display: block;
      padding-bottom: 5px;
    }
    &__broker_name {
	    a {
			font-size: $font-size-small;
			color: $color-slate-light !important;
			display: block;
			opacity: 1;	
		}
    }
  }
}

.sticked {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
	
	.agent_signature--square {
		box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0);
		border: none;
		
		&__photo {
			width: 44px;
			
			a {
				width: 44px;
				height: 44px;
				border-radius: 2px;
			}
		  }
		  
		  &__info {
		    width: calc(100% - 44px);
		    padding: 5px 5px 5px 10px;	

		    &__agent_name {
		      padding-bottom:0px;
		    }	

		  }

		
	}
	
}



.agent_signaturev2 {
  text-align: left;
  display: flex;
  text-decoration: none !important;
  
  &__photo {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 8px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 50%;	
  }
  
  &__info {
    flex-grow:1;    
    align-self: center;
	overflow: hidden;

    &__agent_name {
      font-size: $font-size-medium;
      color: $color-black;
      font-weight: $font-weight-semi-bold;
      white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
    }
    &__broker_name {
      font-size: $font-size-small;
      color: $color-auxiliary;      
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
