.card {
	display: block;
	border-radius: 4px;
	overflow: hidden;

	// depth--emboss
	border: 1px solid $color-cloudy-sky;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);

	text-align: left;
	text-decoration: none !important;
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	margin-bottom: 30px;
	background-color: $color-snow-white;

	&:hover {
		border: 1px solid $color-auxiliary-light;
	}

	&--landscape_large,
	&--landscape_medium,
	&--portrait_medium {
		&__image_content {
			&__image {
				transition: transform 0.2s ease;
			}
		}
	}

	&:hover & {
		&--landscape_large,
		&--landscape_medium,
		&--portrait_medium {
			&__image_content {
				&__image {
					transform: scale(1.05, 1.05);
				}
			}
		}
	}

	&:active {
		border: 1px solid $color-auxiliary-light;
		box-shadow: none !important;
	}

	&--landscape_large,
	&--landscape_medium {
		&__image_content {
			float: left;
			width: 112px;
			height: 120px;
			background-color: $color-cloudy-sky-light;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 4px 0 0 4px;
			overflow: hidden;

			@media screen and (max-width: 768px) {
		    width: 40%;
				height: 88px;
		  }

			&__image {
				width: 100%;
				height: 100%;
				background-size: cover;
			}
		}

		&__content {
			float: left;
			width: calc(100% - 112px);
			overflow: hidden;
			margin-left: 0;
			padding: 24px 24px 0 24px;
			color: $color-auxiliary;

			@media screen and (max-width: 768px) {
		    width: 60%;
				padding: 16px;
		  }
		}

		h5 {
			font-size: $font-size-large;
	    line-height: 24px;
			font-weight: $font-weight-bold;
			margin-bottom: 4px;
			color: $color-carbon;

			@media screen and (max-width: 768px) {
				font-size: $font-size-medium;
		    line-height: 16px;
			}
		}

		&__text {
			color: $color-auxiliary;
			font-size: $font-size-small;
			line-height: 18px;

		}
	}

	&--landscape_large {
		position: relative;
		min-height: 192px;
		
		&__image_content {
			width: 264px;
			height: 100%;			
			position:absolute;
			top: 0px;
			bottom: 0px;		
			@media screen and (max-width: 650px) {
		    width: 100%;
		    position: static;
			height: 170px;
		  }
		}

		&__content {
			width: calc(100% - 264px);
			float: right;
			padding: 24px;
			@media screen and (max-width: 650px) {
		    	width: 100%;
		    	height: inherit;
		    	float: none;
		    	clear: both;			
		  }
		}
		
		&__text {
			color: $color-auxiliary;
			font-size: $font-size-medium;
			line-height: 20px;
		}
		
	}
	
	&--portrait_medium {
		&__image_content {
			width: 100%;
			height: 190px;
			background-color: $color-cloudy-sky-light;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 4px 4px 0 0;
			overflow: hidden;
			z-index: 1;

			@media screen and (max-width: 768px) {
		    height: 136px;
		  }

			&__image {
				width: 100%;
				height: 100%;
				background-size: cover;
			}
		}

		&__text {
			color: $color-auxiliary;
			font-size: $font-size-small;
			line-height: 22px;
		}

		&__content {
			position: relative;
			z-index: 2;
			background: $color-snow-white;
			margin-top: -24px;
			padding: 16px;
			margin-left: 0px;
			text-align: center;
			border-radius: 4px;
		}

		h5 {
			font-size: $font-size-medium;
	    line-height: 24px;
			font-weight: $font-weight-bold;
			margin-bottom: 4px;
			color: $color-carbon;

			@media screen and (max-width: 768px) {
				font-size: $font-size-medium;
		    line-height: 16px;
			}
		}
	}
}

.card_portrait_medium_container {
	.col {
		padding-left: 10px !important;
		padding-right: 10px !important;

		&:first-child {
			padding-left: 15px !important;
		}

		&:last-child {
			padding-right: 15px !important;
		}
	}
}
