/* form label */
label {
	color: $color-auxiliary;
	font-size: $font-size-small;
	font-weight: $font-weight-bold;
	text-align: left;
	display: block;
}

/* form control */
.form-control {
	border: 1px solid $color-auxiliary-light;
	font-size: $font-size-medium;
	color: $color-har-blue !important;
	height: 40px !important;
	padding:12px;

	&::placeholder {
		color: $color-slate-light;
	}

	&:disabled,
	&[readonly] {
		cursor: not-allowed;
		background-color: $color-cloudy-sky-light;
		opacity: 0.75;
	}
}

/* form input quick search */
.input-group {

	&--search_input_home {
		margin-bottom: 20px;

		.form-control {
			height: 74px !important;
			font-size: 18px;
			padding: 0 24px;
			border-radius: 4px;

			&::placeholder {
				color: $color-auxiliary-light;
			}

			&:focus {
	    	border-color: $color-har-blue;
	    	box-shadow: 0 0 0 0 rgba(0,0,0, 0.0);
	    }
		}

		.btn {
			height: 72px;
			width: 72px;
			background-image: url("https://content.harstatic.com/resource_2019/imgs/home/search_white_small.svg") !important;
			background-repeat: no-repeat !important;
			background-position: center !important;
			background-size: 20px 20px !important;

			&:active {
				height: 74px;
		    transform: translate(0, 0);
		  }
		}
	}

}

/* input radio */
.custom-radio {
  .custom-control-input {
  	left: -0px;
  	top: 4px;
  	z-index: 1;
  }
  .custom-control-label {
	  color: $color-carbon;
	  font-size:12px;
	  font-weight: $font-weight-regular;
	  padding:2px 0px 0px 3px;
	  cursor: pointer;
	  margin:0px 15px 10px 0px;
  }
  .custom-control-label::before {
    background-color: transparent;
    background-image:url("https://content.harstatic.com/resource_2019/imgs/home/radiosimple.svg");
    width: 16px;
    height: 16px;
    border: none;
  }
  .custom-control-label::after {
    display: none;
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::before {
	  background-color: transparent;
      background-image:url("https://content.harstatic.com/resource_2019/imgs/home/radiosimple_checked.svg");
    }
  }

	.custom-control-input:disabled ~ .custom-control-label {
		cursor: not-allowed !important;
	}

  .custom-control-input:disabled {
    &:checked ~ .custom-control-label::before {

    }
  }

  &--large {
	  .custom-control-label{
		  font-size:18px;
		  font-weight: $font-weight-bold;
		  padding:0px 0px 0px 5px;
		  line-height: normal;
		  font-weight: $font-weight-regular;
		  margin:0px 15px 10px 0px;
	  }
  }

  &--negative {
		.custom-control-label{
			font-weight: $font-weight-bold;
			color: $color-auxiliary-light;
			font-weight: $font-weight-semi-bold;
			margin:0px 15px 10px 0px;
		}

		.custom-control-input:checked ~ .custom-control-label {
	    color: $color-snow-white !important
	  }

		.custom-control-input:disabled ~ .custom-control-label {
			color: $color-auxiliary-light !important;
			opacity: 0.45;
		}

		.custom-control-label::before {
	    background-color: transparent;
	    background-image: url("https://content.harstatic.com/resource_2019/imgs/home/radiosimple.svg");
		}

		.custom-control-input:disabled ~ .custom-control-label::before {
			background-color: inherit !important;
		}
	}
}

/* cusotm select */
.custom-select {
	border: 1px solid $color-auxiliary-light;
	background: url("https://content.harstatic.com/resource_2019/imgs/icons/select_arrow.svg")no-repeat right 0.75rem center/10px 9px !important;
	color: $color-slate-light;
	
	&_large{ 
		height: 40px !important;
		font-size: $font-size-medium !important;
	}
	
	&_medium{ 
		height: 32px !important;
		font-size: $font-size-small !important;
	}
}

/* custom checkbox */
.custom-checkbox {
	padding-left: 0px !important;
	
	&--choosable_box{
		position: relative;
		
		.custom-control-label{
			border: 1px solid $color-cloudy-sky;
			border-radius: 4px;
			height: 48px;
			overflow: hidden;
			display: inline-block;
			margin: 2px;
			font-size: $font-size-small-extra;
			text-align: center;
			cursor:pointer;
			min-width: 128px;
			color: $color-carbon;
			font-weight: $font-weight-semi-bold;
			padding-bottom: 7px;
			position: relative;
			padding-top: 26px;
			
			&:before { 
				background-color: transparent !important;
				background: url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Single_Family.svg) center center no-repeat;
				display: block;
				position: absolute;
				content: "";
				width: 32px;
				height: 16px;
				margin-top: 2px;
				margin-bottom: 3px;
				left:50%;
				top: 5px;
				margin-left: -16px;
				border:none;
			}
		}
	}

	.custom-control-input:disabled ~ .custom-control-label,
	.custom-control-input:checked ~ .custom-control-label {
		border-color: $color-har-blue;
		background: $color-har-blue-light-extra;
		color: $color-har-blue;
		&:before { 
			background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Single_Family_On.svg);
		}
	}
	
	.custom-control-input:disabled ~ .custom-control-label {
		opacity: 0.5;
	}

}

#SingleFamily .custom-control-label:before{background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Single_Family.svg);}
#MultiFamily .custom-control-label:before{background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Multi_Family.svg);}
#Townhouse .custom-control-label:before{background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Townhouse.svg);}
#Condominium .custom-control-label:before{background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Condominium.svg);}
#LotsLands .custom-control-label:before{background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_LotsLands.svg);}
#AcreageHomes .custom-control-label:before{background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_AcreageHomes.svg);}

#SingleFamily .custom-control-input:disabled ~ .custom-control-label:before,
#SingleFamily .custom-control-input:checked ~ .custom-control-label:before {background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Single_Family_On.svg);}
#MultiFamily .custom-control-input:disabled ~ .custom-control-label:before,
#MultiFamily .custom-control-input:checked ~ .custom-control-label:before {background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Multi_Family_On.svg);}
#Townhouse .custom-control-input:disabled ~ .custom-control-label:before,
#Townhouse .custom-control-input:checked ~ .custom-control-label:before {background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Townhouse_On.svg);}
#Condominium .custom-control-input:disabled ~ .custom-control-label:before,
#Condominium .custom-control-input:checked ~ .custom-control-label:before {background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Condominium_On.svg);}
#LotsLands .custom-control-input:disabled ~ .custom-control-label:before,
#LotsLands .custom-control-input:checked ~ .custom-control-label:before {background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_LotsLands_On.svg);}
#AcreageHomes .custom-control-input:disabled ~ .custom-control-label:before,
#AcreageHomes .custom-control-input:checked ~ .custom-control-label:before {background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_AcreageHomes_On.svg);}





