.cardv2 {
	display: block;
	border-radius: 4px;
	overflow: hidden;

	// depth--emboss
	border-radius: 8px;
	border: solid 1px #d0d0d0;
  
	text-align: left;
	text-decoration: none !important;
	background-position: top left;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-bottom: 30px;
	background-color: $color-snow-white;
	transition: all 0.2s ease !important;
	color: $color-carbon;
	
	&:hover {
		border: 1px solid $color-auxiliary-light;
		transition: all 0.2s ease !important;
		color: $color-carbon;
	}
	
	a {
		text-decoration: none !important;
		color: $color-carbon;
	}


	//Area Card starts here
	&--portrait {
		max-width: 278px;
		width: 100%;
		display: inline-block;
		overflow: inherit;
		cursor: pointer;
		margin-right: 18px;
		margin-bottom: 18px;
		
		&__selected {
			box-shadow: 0 0 0 4px rgba(7, 56, 205, 0.12);
			border: solid 1px $color-auxiliary !important;
			background-color: #fff;
		}
		
		&__select {
			padding: 8px 12px;
			border-bottom: 1px solid $color-cloudy-sky-light;
			text-align: center;
			display: none;
			
			&__on {
				display: block;
			}
		}
		
		&__header {
			display: flex;
			padding: 12px;
			
			&_agent {
				width: calc(100% - 60px);
			} 
			
			&_title {
				width: calc(100% - 60px);
				font-weight: $font-weight-semi_bold;
				font-size: $font-size-large;
				align-self: center;
			} 
						
			&_controls {
				min-width: 60px;
				width: 60px;
				text-align: right;
				
				> a {
					display: inline-block;
					padding: 2px;
				}
				
				.dropdown-menu {
					z-index: 111;
				}
			}
		}
		
		&__img {
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			height: 184px;
			width: 100%;
			
			&_heighrise {			
				height: 240px;
			}	
		}
				
		&__body{
			padding: 12px;
			
			&_flexrow {
				display: flex;
				flex-basis: 100%;
				padding-bottom: 8px;
			}
			
			&_price {
				font-size: $font-size-large_extra;
				font-weight: $font-weight-semi_bold;
				color: $color-black;
				flex-grow: 1;
			}
			&_status {
				flex-grow: 1;
				text-align: right;
			}			
			&_address {
				font-size: $font-size-medium;
				font-weight: $font-weight-semi_bold;
				color: $color-black;
				line-height: 19px;
				flex-grow: 1;
			}
			&_dayson {
				font-size: $font-size-small;
				color: $color-auxiliary;
				flex-grow: 1;
				padding-top: 12px;
			}
			
			&_features {
				font-size: $font-size-medium;
				color: $color-carbon;				
				line-height: 1.64;
				
				
				ul	{
					margin: 0px;
					padding: 0px;
    
					li {
						display: inline-block;
						list-style: none;
						margin: 0px;
						padding:0px;
						
						span {
							font-weight: $font-weight-semi_bold;
						}
						
						&:after{
							margin: 0px 3px 0 5px;
							content: "·";
						}
						
						&:last-child {
							&:after{
								margin: 0px;
								content: "";
							}	
						}
					}
				}
				
			}
			
			&_badges {
				padding-top: 14px;
				
				.listingbadges {
					margin-bottom: 4px;
				}
			}
			
			
			&_soldtext {
				font-weight: $font-weight-semi_bold;
				color: $color-sold;
				font-size: $font-size-medium;
				padding-bottom: 0px;
			}
			
			&_ratings {
				padding-top: 6px;
				padding-bottom: 4px;
				line-height: 16px;
				display: flex;
				
				.stars {
					display: inline-block;					
				}
				.rating {
					display: inline-block;
					padding-left: 5px;
					align-self: flex-end;
					padding-top: 2px;
				}
			}

		}
		
		&_impovement {
			font-size: $font-size-small;
			color: $color-auxiliary;
			background-color: rgba(218,225,248,0.32);
			padding: 8px 12px;
			line-height: 1.6;
			border-radius: 4px;
			margin: 8px 4px 4px 4px;	
			> a:hover {
				text-decoration: underline !important;	
			}
			.title {
				font-weight: $font-weight-semi_bold;
				color: $color-black;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		
		&__folder {
			&__controls {
				margin:0px 10px 10px 10px;
				border-top: 1px solid $color-cloudy-sky-light;
				padding-top: 8px
			}	
			&__notes {
				margin: 5px;
			}
		}

	}
	//Area Card starts here
}

.cardv2_outer {
	background-color: $color-cement-light;
	border-radius: 8px;
	max-width: 278px;
    width: 100%;

	@media screen and (max-width: 500px) {
		max-width: none;
	}

	.cardv2 {
		margin-bottom: 0px;
	}
	.cardv2--footer {
		padding: 12px 16px;
		font-size: $font-size-small;
		display: flex;
		color: $color-auxiliary;
		line-height: 16px;
		
		.label {
			flex-grow: 1;
			white-space: nowrap;
			margin-right: 10px;
			padding:4px 10px;
		}
	}
}


			

