.position-wrapper{
	position: relative;
	display: inline-block;
	width: 100%;
}

.popover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
	border: solid 1px $color-cloudy-sky;
	opacity: 1;
	position: absolute;
		
	&--standard {
		min-width: 300px;
		left: 50%;
		margin-left: -150px;
		top: 50px;		

		&_large {
			min-width: 448px;
			margin-left: -224px;	
		}
		
		.popover-header {
			background-color: $color-cement-light;
			color: $color-auxiliary;
			border-bottom: 1px solid $color-auxiliary-light;
			font-size: $font-size-medium;
			font-weight: $font-weight-semi-bold;
			position: relative;
			padding: 0.35rem 0.75rem;
			
			&:before {
				content: "";
				position: absolute;
			    left: calc(50% - 13px);
			    top: -10px;
			    width: 0;
			    height: 0;
			    border-left: 13px solid transparent;
			    border-right: 13px solid transparent;
			    border-bottom: 13px solid $color-cement-light;
			}
		}
		
		.popover-footer {
			  box-shadow: 0 4px 8px 0 rgba(61, 84, 153, 0.4);
			  background-color: #ffffff;
			  padding: 15px;
			  position: absolute;
			  left: 0px;
			  right: 0px;
			  bottom: 0px;
		}
	
	}
	
	.popover-body {
		height: 100%;
		max-height: 50vh;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 32px;
		font-size: $font-size-small;
	}
	
	&--shapeless {
		width: 300px;
		max-width: 300px;
		left: 0px;	
		top: 50px;
		border: none;
		
		&_close {
			display: block;
			width: 26px;
			height: 26px;
			position: absolute;
			left: auto;
			right: 5px;
			top: 10px;
			text-align:center;
			z-index: +1;
		}
		
		.popover-header {
			background-color: transparent;
			color: $color-carbon;
			border-bottom: none;
			font-size: $font-size-small-extra;
			font-weight: $font-weight-bold;
			position: relative;
			padding: 7px 16px;
			text-align: left !important;
			
			&:before {
				content: none;
			}
		}
		
		.popover-body {
			padding:10px 15px 25px 15px;
		}
	}
	
	&--agents {
		.popover-body {
			padding: 8px;
			font-size: $font-size-small;
			text-align: center;
		}	
		
		span {
			font-size: $font-size-small;
			font-weight: $font-weight-bold;
			color: $color-auxiliary;
			line-height: 1;
		}
	}
	
}

.range {
	margin: 15px 0px 0px 0px;
	padding: 0px;
	
	&--item {
		padding: 0px;
		margin: 0px -4px 0px 0px;
		width: 40px;
		height: 40px;
		display: inline-block;
		
		span {
			border-radius: 50%;
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
			line-height: 40px;
		}
		
		&_min,
		&_max,
		&_range {			
			span {
				background-color: $color-har-blue;
				color: $color-snow-white;			
				}	
		}
		&_range {
			background-color: $color-har-blue-light;
			span {
				background-color: $color-har-blue-light;
				color: $color-black;
			}
		}
		
		&_min,
		&_max {
			position: relative;
			&:before {
				display: block;
				content: "";
				position: absolute;
				width: 50%;
				z-index: -1;
				height: 100%;
				left: auto;
				right: 0px;
				top: 0px;
				bottom: 0px;
				background-color: $color-har-blue-light;
			}
		}
		
		&_max {
			&:before {
				left: 0px;
				right: auto;
			}
		}
	}
}