.filterpill {
	border-radius: 18px;
	background-color: #dfe3f0;
	height: 38px;
	background-color: $color-cloudy-sky;
	color: $color-har-blue-dark;
	font-size: $font-size-small;
	font-weight: $font-weight-semi-bold;
	border: none;
	display: inline-block;
	padding: 9px 34px 9px 16px;
	position: relative;
	line-height: 1;
	
	&:after {
		content: "";
		position: absolute;
		right: 11px; 
		top: 11px;
		width: 16px;
		height: 16px;
		background: url(https://content.harstatic.com/resource_2019/imgs/icons/pluse_wite_circle.svg) no-repeat center center;
	}
	
	&--active {
		background-color: $color-har-blue-dark;
		color: $color-snow-white;
		&:after {
			background: url(https://content.harstatic.com/resource_2019/imgs/icons/pencile_edit.svg) no-repeat center center;
		}		
	}
	
	&--closeable {
		background-color: $color-har-blue-dark;
		color: $color-snow-white;
		line-height: 18px;
		display: inline-block;
		&:after {
			background: none;
			content: none;
		}		
		a {
			display:block;
			position: absolute;
			right: 11px; 
			top: 11px;
			width: 16px;
			height: 16px;
			background: url(https://content.harstatic.com/resource_2019/imgs/icons/cross_with_whitebg.svg) no-repeat center center;
		}		
	}
	
	&--transparent {
		color: $color-carbon;
		line-height: 18px;
		display: inline-block;
		border: solid 1px rgba(81, 91, 122, 0.24);
		background-color: rgba(4, 34, 128, 0);
		&:after {
			background: none;
			content: none;
		}		
		a {
			display:block;
			position: absolute;
			right: 13px; 
			top: 13px;
			width: 10px;
			height: 10px;
			background: url(https://content.harstatic.com/media/icons/close_medium_gra.svg) no-repeat center center;
			background-size:contain;
		}		
	}
	
	&--all {
		background-color: $color-har-blue-dark;
		color: $color-snow-white;
		padding: 9px 16px 9px 16px;
		
		span {
			display: inline-block;
			border-radius: 50%;
			background-color: $color-har-pink;
			height: 16px;
			width: 16px;
			line-height: 16px;
			text-align: center;
			font-size: $font-size-small-extra;
			margin-left: 6px;
		}
		
		&:after {
			content: none;
			background: none;
		}		
	}
	
	&:disabled {
		opacity: 0.5;
	}
}


.iconpill {
	border-radius: 18px;
	background-color: #dfe3f0;
	height: 38px;
	background-color: $color-cloudy-sky;
	color: $color-har-blue-dark;
	font-size: $font-size-medium;
	font-weight: $font-weight-semi-bold;
	border: none;
	display: inline-block;
	padding: 9px 42px 9px 16px;
	position: relative;
	line-height: 1;
	transition-duration: 0.6s;
	transition-property: all;
	transition-timing-function: ease;
	vertical-align: middle;
  
	span {
		display: block;
		position: absolute;
		right: 7px; 
		top: 7px;
		width: 24px;
		height: 24px;
		border-radius: 50%;		
		background-color: #ffffff;
		line-height: 23px;
	}
	
	&:hover {
		opacity: 0.5;
	}
	
	&__icon {
		padding: 0px;		
		height: 36px;
		min-width: 36px;
		
		&__img {
			display: flex;
			position: absolute;
			left: 0px; 
			top: 0px;
			width:36px;
			height: 36px;
			border-radius: 50%;		
			background-color: transparent !important;
			text-align: center;
			justify-content: center;
			
			img {
				max-width: 24px;
				align-self: center;
			}
		}
		
		&__text {
			padding: 9px 16px 9px 35px;
			font-size: $font-size-medium;
			font-weight: $font-weight-bold;
		}
		
		
		&__mobile_shrink {
			
			@media (max-width:776px) {
				
				.hide_text_resp {
					display: none !important;
				}
				
				.iconpill__icon__img {
					width: 36px;
				}
			
			}
	 
		}
	}
}

.folder {
	background-color: $color-cement-light;
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	font-size: $font-size-medium;
	color: $color-carbon;
	font-weight: $font-weight-semi-bold;
	display: inline-block;
	position: relative;
	padding-left: 6px; 
	padding-right: 26px;
	margin-bottom: 5px;
	margin-right: 5px;
	
	&--closeable {		
		a {
			display:block;
			position: absolute;
			right: 2px; 
			top: 0px;
			width: 20px;
			height: 32px;
			left: auto;
			right: 2px;
			margin-left: 4px;			
			background:url("https://content.harstatic.com/media/icons/close_cross.svg") no-repeat 4px 11px;
			background-size: 10px;
		}		
	}
	
	&__withicon {
		position: relative;
		padding-left: 32px !important;
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 8px;
			top: 10px;
			width: 16px;
			height: 12px;
			background:url("https://content.harstatic.com/media/icons/foolder_icon_small.svg") no-repeat center center;
		}
	}
}

.pill {
	background-color:#DAE1F8;
	border-radius: 2px;
	height: 32px;
	line-height: 24px;
	font-size: $font-size-medium;
	color: $color-har-blue-dark;
	display: inline-block;
	position: relative;
	padding: 4px 30px 4px 8px;
	border-radius: 4px;
	margin-bottom: 5px;
	margin-right: 5px;
	
	&--location {		
		a {
			display:block;
			position: absolute;
			right: 2px; 
			top: 0px;
			width: 32px;
			height: 32px;
			margin-left: 4px;
			background:url("https://content.harstatic.com/media/icons/cross_blue.svg") no-repeat right 4px center;
			background-size: 20px;
		}		
	}	
	
	&--filters {
		background-color: #FFFFFF;
		border-radius: 8px;
		border: 1px solid #d0d0d0;
		line-height: 1;
		padding: 8px 30px 8px 8px;
		margin: 0px;
		color: #000000;
		font-weight: $font-weight-bold;
		
		a {
			display:block;
			position: absolute;
			right: 2px;
			top: 0px;
			width: 32px;
			height: 32px;
			margin-left: 0px;
			background:url("https://content.harstatic.com/media/icons/cross_blue.svg") no-repeat right 4px center;
			background-size: 20px;
		}		
	}
	
	
}

.alphabets_filter {
	overflow: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	background-color: #ffffff;
	border-radius: 4px;
	padding-bottom: 15px;
	
	ul {
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
		border: solid 1px $color-har-blue-dark;
		display: block;
		border-radius: 4px;		
		margin:0px;
		display: inline-flex;
		align-self: center;
		overflow:hidden;		
		
		li {
			display:block;
			margin:0px;
			padding:0px;		
			
			a { 
				display: block;
				width: 41px;
				height: 48px;
				text-align: center;
				text-decoration: none;
				font-size: $font-size-large;
				color: $color-carbon;
				font-weight: $font-weight-semi-bold;
				line-height:48px;
				overflow: hidden;
				border-right: 1px solid #dddddd;
				border-bottom: 1px solid #fff;
				
				&:hover {
					border-bottom: 1px solid $color-har-pink;
					background-color: $color-har-blue-dark;
					color: $color-snow-white;
				}
				
				&.active {
					border-bottom: 1px solid $color-har-pink;
					background-color: $color-har-blue-dark;
					color: $color-snow-white;
				}
				
				&.disable {
					background-color: $color-cement-light !important;
					color: rgba(93, 94, 94, 0.56) !important;
					border-bottom: 1px solid $color-cement-light !important;
				}
			}
		}
	}
}

.addresspill {
	border-radius: 14px;
	border: solid 1px #94aaeb;
	background-color: #dae1f8;
	font-size: 16px;
	padding: 2px 5px;
}
