.tag_status {
  background: #ccc;
  padding: 1px 4px;
  border-radius: 2px;
  display: inline-block;
  font-size: $font-size-small;
  font-weight: $font-weight-semi-bold;
  cursor: default;

  &--available {
    background-color: $color-available-light;
    color: $color-available;
  }

  &--sold {
    background-color: $color-sold-light;
    color: $color-sold;
  }

  &--pending {
    background-color: $color-pending-light;
    color: $color-pending;
  }

  &--not_for_sale {
    background-color: $color-cement-light;
    color: $color-cement-dark;
  }

  &--info {
     &:after {
       content: "";
       display: inline-block;
       width: 10px;
       height: 10px;
       background: url(https://content.harstatic.com/media/icons/styleguide/icon-info-yellow.svg);
       background-size: contain;
       margin-left: 4px;
     }
  }
}
