.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  // margin: 0 8px 8px 0;
  display: inline-block;
  transition: all 0.2s ease !important;
  border-radius: 8px;
  font-weight: $font-weight-bold;
  border:none;
  font-size: $font-size-medium;
  
  &:hover,
  &:focus {
    opacity: 0.8 !important;
	-webkit-opacity: 0.8 !important;
	-moz-opacity: 0.8 !important;
  }

  &:active {
    transform: translate(0,2px);
  }

  /* == SIZES == */
  &--large {
    /* new sizes
	height: 64px !important;
    line-height: 64px !important;*/
    height: 48px !important;
    line-height: 48px !important;
    font-size: $font-size-large_extra !important;
    padding: 0 32px !important;
  }

  &--large__extra {
    height: 64px !important;
    line-height: 64px !important;
    font-size: $font-size-large_extra_extra !important;
    padding: 0 40px !important;
  }
  
  &--medium {
	/* new sizes 
    height: 48px !important;
    line-height: 48px !important;*/
    height: 40px !important;
    line-height: 40px !important;
    font-size: $font-size-large !important;
    padding: 0 24px !important;
    
    &__inline {
	    padding: 0px 16px !important
    }
  }

  &--small {
    height: 32px !important;
    line-height: 32px !important;
    font-size: $font-size-small !important;
    padding: 0 16px !important;
    
    &__inline {
	    padding: 0px 10px !important
    }
  }

  &--small-extra {
    height: 24px !important;
    line-height: 24px !important;
    font-size: $font-size-small-extra !important;
    padding: 0 8px !important;
    &:before {
      width: 11px !important;
      height: 11px !important;
    }
  }
  
  &--sm-small {
	  @media screen and (max-width: 576px) {
		height: 24px !important;
	    line-height: 24px !important;
	    font-size: $font-size-small-extra !important;
	    padding: 0 8px !important;
	    &:before {
	      width: 11px !important;
	      height: 11px !important;
	    }			  
	  }
  }

  /* == STYLES == */
  &--primary {
    background: $color-har-blue !important;    
    padding: 0 24px;
    height: 40px;
    line-height: 40px;
    color: $color-snow-white !important;
  }

  &--prominent {
    background: $color-har-pink !important;
    padding: 0 24px;
    height: 40px;
    line-height: 40px;
    color: $color-snow-white !important;

    &:hover {
      color: $color-snow-white;
    }
  }

  &--simple ,
  &--ordinary {
    background: $color-snow-white !important;
    border: 1px solid #d0d0d0 !important;
    padding: 0 24px;
    height: 40px;
    line-height: 40px;
    color: $color-black;

    &:hover {
      color: $color-black;
    }
  }

  &--shapeless {
    background: transparent !important;
    border: 1px solid rgba(255,255,255,0) !important;
    padding: 0 24px;
    height: 40px;
    line-height: 40px;
    color: $color-black;

    &:hover {
      color: $color-har-blue;
    }
  }

  &:disabled {
    opacity: 0.65 !important;
    background: $color-cement !important;
    border: 1px solid $color-cement !important;
    color:  $color-cement-dark !important;
    cursor: not-allowed;

    &:hover {
      color: $color-auxiliary;
    }
  }

  &--search {
    width: 24px !important;
    height: 24px !important;
    background: #fff url(../images/icons/24x24/icon-search.svg) center no-repeat;
    padding: 0 !important;
    border-radius: 50%;
  }
    
  &--flate {
	height: 40px;
    color: $color-black !important;
    
    &:hover {
      background-color: $color-cement-light;
      opacity: 1 !important;
	  -webkit-opacity: 1 !important;
	  -moz-opacity: 1 !important;
    }
  }
  
  &--text {
    height: inherit;
    font-weight: normal;
    color: $color-auxiliary !important;
    box-shadow: 0 0px 0 $color-har-blue-dark !important;
    
    &:hover {
      background-color:transparent;
      opacity: 1 !important;
	  -webkit-opacity: 1 !important;
	  -moz-opacity: 1 !important;
    }
  }
  
  &--filters {
	height: 40px;
    font-size: $font-size-medium;
    color: $color-auxiliary !important;
    box-shadow: 0 0px 0 $color-har-blue-dark !important;
    padding: 0 10px !important;
    display: flex;
    -ms-flex-align: center !important;
	align-items: center !important;

    &:hover {
      background-color: $color-cement-light;
      opacity: 1 !important;
	  -webkit-opacity: 1 !important;
	  -moz-opacity: 1 !important;
    }
    
    &-active {
	  background-color: $color-cement-light;  
    }
    
    img {
		margin-right: 3px;
    }
    
    span {
	    display:inline-block;
	    height: 16px;
	    border-radius: 8px;
	    line-height:16px;
	    font-weight: $font-weight-bold;
	    color : $color-snow-white;
	    text-align: center;
	    background-color: $color-har-pink;
	    min-width: 16px;
	    font-size: $font-size-small;
	    margin-left: 4px;
	    padding-left: 4px;
	    padding-right: 4px;
	    margin-top: -2px;
    }
    
  }
  
  &--outline {
	  display: inline-block;
	  border-radius: 2px;
	  border: solid 1px $color-cloudy-sky;
	  background-color: #ffffff;
	  color: $color-slate-light !important;
	  font-weight: normal;
	  font-size:12px;
	  height: 22px;
	  line-height: normal;
	  padding:2px 8px 2px 4px;
	  
	  img {
		  float: left;
		  margin-top: 2px;
		  margin-right: 4px;
	  }
  }
  
  &--claimprofile {
		background-color: $color-har-blue-dark;
		color: $color-snow-white !important;
		font-size: $font-size-small;
		border-left: 4px solid #fd4b78 !important;
		height: 39px;
		padding:0px 20px !important;
		white-space: nowrap;
		line-height: 39px ;
		
		&__large {
			display: flex;			
			font-size: $font-size-large;
			font-weight: normal !important;
			background-color: transparent;
			border-left: none !important;
			padding: 0px !important;
			border-radius: 0px !important;
			
			@media screen and (max-width: 500px) {
				font-size: $font-size-small;
			}
			
			&__title {
				color: $color-snow-white;
				height: 40px;
				background-color: $color-har-pink;			
				border-right: 1px solid #be3759;
				padding: 0px 10px 0px 16px;
				font-weight: bold;
				border-radius: 4px 0px 0px 4px;
			}
			
			&__text {
				padding-left: 10px;
				color: $color-snow-white;
				height: 40px;
				background-color: $color-har-pink;
				padding: 0px 3px 0px 10px ;
				border-radius: 0px;
			}
		}
	}
  
  /* == VARIATIONS == */
  // &--options {
  //   &:after {
  //     content: "";
  //     display: inline-block;
  //     width: 8px;
  //     height: 4px;
  //     margin-top: -4px;
  //     background: url(../assets/icon-special-option-arrow-white.svg) center no-repeat;
  //     background-size: contain;
  //     vertical-align: middle;
  //     margin-left: 4px;
  //   }
  //
  //   &.btn-ordinary,
  //   &.btn-shapeless,
  //   &:disabled {
  //     &:after {
  //       background-image: url(../assets/icon-special-option-arrow-dark.svg);
  //     }
  //   }
  // }

  &--icon {
    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-top: -4px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 4px;
    }
	
	&--onlyicon {
	  width: 25px;
	  padding: 0px !important;
	  font-size: 1px !important;
	  
      &:before {
        margin-right:auto;
        margin-left: auto;
      }
    }
    
    &--placeholder {
      &:before {
        background-image: url(../images/icons/16x16/placeholder.svg);
      }
    }

    &--favorite {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/heart_outline.svg);
      }
    }

    &--dot_dot_dot {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/dot_dot_dot.svg);
      }
    }

    &--filters {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/filters.svg);
      }
    }

    &--share {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/share_slate_16.svg);
      }
    }
    
    &--map_view {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/map-view.svg);
      }
    }
    
    &--gallery {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/photo-gallery.svg);
      }
    }
    
    &--street_view {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/street-view.svg);
      }
    }
    
    &--close {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/close_medium_gra.svg);
      }
    }
    
    &--add {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/add.svg);
      }
    }
    
    &--add-white {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/add-negative.svg);
      }
    }
    
    &--edit {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/edit.svg);
      }
    }
    
    &--edit-white {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/edit_white.svg);
      }
    }    
    
    &--delete-red {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/delete_mini.svg);
      }
    }
    
    &--delete-auxiliary {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/delete-small_auxilary.svg);
      }
    }
    
    &--delete-white {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/delete-white.svg);
      }
    }
    
    &--external-link {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/external-link.svg);
      }
    }
    	
	&--download {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/import.svg);
      }
    }	
	
	&--email {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/email-lead.svg);
      }
    }
    
	&--email-white {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/email_small_white_.svg);
      }
    }
	
	&--comment {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/comment_.svg);
      }
    }
    
    &--lock {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/lock.svg);
      }
    }
    
    &--view {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/view_color_slate.svg);
      }
    }
    
    &--duplicate {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/icon-duplicate.svg);
      }
    }
    
    &--save-white {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/save-data-white.svg);
      }
    }
    
    &--receipt {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/icon-receipt.svg);
      }
    }
    
    &--folder {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/icon-open.svg);
      }
    }
    
    &--upload {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/upload-white.svg);
      }
    }
    
    &--home {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/icon-listing.svg);
      }
    }
    
    &--remarks {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/icon-agent-remarks.svg);
      }
    }
    
    &--drive {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/icon-drive-directions.svg);
      }
    }
    
    &--print {
      &:before {
        background-image: url(https://content.harstatic.com/media/icons/icon-print.svg);
      }
    }
    
    &--lone {
      &:before {
        margin-right: 0;
      }

      &.btn--large {
        padding: 0 16px !important;
      }
      &.btn--medium {
        padding: 0 12px !important;
      }
      &.btn--small {
        padding: 0 8px !important;
      }
      &.btn--small-extra {
        padding: 0 4px !important;
      }
    }
    
    &--sm-none {
     
     &:before {     
	 
	 		@media screen and (max-width: 576px)
	 		{	
	      		content:none;
      		}
		}
	}
  }
  
  &--remove {
  	background-color: #515b7a;
	height: 24px;
	line-height: 24px;	
	padding: 0 8px 0 8px;
	border-radius: 4px;
	background-color: #515b7a;
	color: $color-snow-white !important;
	font-size: $font-size-small;
	border: none;
	box-shadow: none;
	
	img {
		width: 10px;
		margin-right: 4px;
	}

  }

}

.category_link,
a.category_link {
	display: inline-block;
	color: $color-har-blue-dark;
	border:1px solid $color-cement;
	padding: 5px 8px;
	border-radius: 2px;
	font-weight: $font-weight-semi-bold;
	text-decoration: none !important;
	margin: 0px 5px 5px 0px;
	
	&:hover {
		border: 1px solid $color-auxiliary-light;
		transition: all 0.2s ease !important;
	}
}