/* form label */
label {
	color: $color-auxiliary;
	font-size: $font-size-small;
	font-weight: $font-weight-bold;
	text-align: left;
	display: block;
}
/* form control */
.form-control {
	border: 1px solid $color-auxiliary-light;
	font-size: $font-size-medium;
	color: $color-carbon !important;
	height: 40px;
	padding:12px;

	&::placeholder {
		color: $color-slate-light;
	}

	&:disabled,
	&[readonly] {
		cursor: not-allowed;
		background-color: $color-cloudy-sky-light;
		opacity: 0.75;
		-webkit-opacity: 0.75 !important;
		-moz-opacity: 0.75 !important;
	}

	&--textarea {
		height: auto !important;
	}
}

/* form input quick search */
.input-group {

	&--search_input_home,
	&--search_input_medium {
		margin-bottom: 24px;

		.form-control {
			height: 74px;
			font-size: $font-size-large-extra;
			padding: 0 24px;
			border-radius: 4px;

			&::placeholder {
				color: $color-auxiliary-light;
			}

			&:focus {
	    	border-color: $color-har-blue;
	    	box-shadow: 0 0 0 0 rgba(0,0,0, 0.0);
	    }
		}

		.btn {
			height: 72px;
			width: 72px;
			background-image: url("https://content.harstatic.com/resource_2019/imgs/home/search_white_small.svg") !important;
			background-repeat: no-repeat !important;
			background-position: center !important;
			background-size: 20px 20px !important;

			&:active {
				height: 74px;
		    transform: translate(0, 0);
		  }
		}
	}

	&--search_input_medium {
		.form-control {
			height: 48px;
			font-size: $font-size-large;
			padding: 0 16px;
			max-width: 504px;
		}

		.btn {
			height: 46px;
			width: 46px;
			// background-size: 20px 20px !important;

			&:active {
				height: 48px;
		    transform: translate(0, 0);
		  }
		}
	}

}

/* input checkbox */
.custom-checkbox {
  .custom-control-input {
  	left: -0px;
  	top: 4px;
  	z-index: 1;
  }
  .custom-control-label {
	  color: $color-carbon;
	  font-size:12px;
	  font-weight: $font-weight-regular;
	  padding:2px 0px 0px 3px;
	  cursor: pointer;
	  margin:0px 15px 10px 0px;
  }
  .custom-control-label::before {
    background-color: transparent;
    background-image:url("https://content.harstatic.com/resource_2019/imgs/icons/checkbox-box-empty.svg");
    width: 16px;
    height: 16px;
    border: none;
  }
  .custom-control-label::after {
    display: none;
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::before {
	  background-color: transparent;
      background-image:url("https://content.harstatic.com/resource_2019/imgs/icons/checkbox-box-checked.svg");
    }
  }

  .custom-control-input:disabled ~ .custom-control-label {
	cursor: not-allowed !important;
	opacity: 50%;
	-webkit-opacity: 0.5 !important;
	-moz-opacity: 0.5 !important;
	&::before {
    }
  }

  &_with-description{
	  .custom-control-label {
		  font-size: $font-size-medium;
		  font-weight: $font-weight-semi-bold;
		  margin-bottom: 4px;
		  padding-top: 0px;
	  }
	  span {
		  font-weight: $font-weight-regular;
		  color: $color-auxiliary;
		  font-size: $font-size-small;
		  text-align: left;
		  padding-left: 2px;
		  display: block;
		  line-height: 16px;
	  }
  }

}

/* input radio */
.custom-radio {
  .custom-control-input {
  	left: -0px;
  	top: 4px;
  	z-index: 1;
  }
  .custom-control-label {
	  color: $color-carbon;
	  font-size:12px;
	  font-weight: $font-weight-regular;
	  padding:2px 0px 0px 3px;
	  cursor: pointer;
	  margin:0px 15px 10px 0px;
  }
  .custom-control-label::before {
    background-color: transparent;
    background-image:url("https://content.harstatic.com/resource_2019/imgs/home/radiosimple.svg");
    width: 16px;
    height: 16px;
    border: none;
  }
  .custom-control-label::after {
    display: none;
  }

  .custom-control-input:checked ~ .custom-control-label {
		font-weight: $font-weight-semi-bold;

    &::before {
	  	background-color: transparent;
      background-image:url("https://content.harstatic.com/resource_2019/imgs/home/radiosimple_checked.svg");
    }
  }

	.custom-control-input:disabled ~ .custom-control-label {
		cursor: not-allowed !important;
	}

  .custom-control-input:disabled {
    &:checked ~ .custom-control-label::before {

    }
  }

  &--large {
	  .custom-control-label{
		  font-size:18px;
		  font-weight: $font-weight-bold;
		  padding:0px 0px 0px 5px;
		  line-height: normal;
		  font-weight: $font-weight-regular;
		  margin:0px 15px 10px 0px;
	  }
  }

  &--negative {
		.custom-control-label{
			font-weight: $font-weight-bold;
			color: $color-auxiliary-light;
			font-weight: $font-weight-semi-bold;
			margin:0px 15px 10px 0px;
		}

		.custom-control-input:checked ~ .custom-control-label {
	    color: $color-snow-white !important
	  }

		.custom-control-input:disabled ~ .custom-control-label {
			color: $color-auxiliary-light !important;
			opacity: 0.45;
			-webkit-opacity: 0.45 !important;
			-moz-opacity: 0.45 !important;
		}

		.custom-control-label::before {
	    background-color: transparent;
	    background-image: url("https://content.harstatic.com/resource_2019/imgs/home/radiosimple.svg");
		}

		.custom-control-input:disabled ~ .custom-control-label::before {
			background-color: inherit !important;
		}
	}
}

/* cusotm select */
.custom-select {
	border: 1px solid $color-auxiliary-light;
	background:$color-snow-white url("https://content.harstatic.com/resource_2019/imgs/icons/select_arrow.svg")no-repeat right 0.75rem center/10px 9px !important;
	color: $color-slate-light;
	text-align: left;

	&_large{
		height: 40px !important;
		font-size: $font-size-medium !important;
		padding: 6px 26px 6px 12px;
	}

	&_medium{
		height: 32px !important;
		font-size: $font-size-small !important;
	}
}

.dropdown {
	&--custom {
		.dropdown-toggle {
			border: 1px solid $color-auxiliary-light;
			background-color: $color-snow-white;
			border-radius: 0.25rem;
			color: $color-slate-light;
			text-align: left;

			&:after {
				float: right;
				background: url("https://content.harstatic.com/resource_2019/imgs/icons/select_arrow.svg")no-repeat right 10px;
				border : none !important;
				width: 24px;
				height: 24px;
			}
		}
		
		.dropdown-menu {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);
			border: solid 1px #dfe3f0;
			background-color: #ffffff;
			min-width: 200px;
		}

		&_large {
			.dropdown-toggle {
				height: 40px;
				width: 100%;
				padding:6px 15px;
				font-size: $font-size-medium;
			}
		}

		&_medium {
			.dropdown-toggle {
				height: 32px;
				font-size: $font-size-small !important;
				padding:6px 13px;
				&:after {
					background-position: right 6px;
				}
			}
		}
		
		&_bold {
			.dropdown-toggle {
				height: 32px;
				font-size: $font-size-medium !important;
				color: $color-har-blue !important;
				font-weight: $font-weight-bold;
				padding:4px 8px;
				&:after {
					background-position: right 8px;
					width: 18px;
				}
			}
		}
	}
}


/* custom checkbox */
.choosable_box {
	padding-left: 0px !important;

	&--choosable_box {
		position: relative;

		.custom-control-label {
			border: 1px solid $color-cloudy-sky;
			border-radius: 4px;
			height: 48px;
			overflow: hidden;
			display: inline-block;
			margin: 2px;
			font-size: $font-size-small-extra;
			text-align: center;
			cursor:pointer;
			color: $color-carbon;
			font-weight: $font-weight-semi-bold;
			padding-bottom: 7px;
			position: relative;
			padding-top: 26px;
			width: 100%;

			&:hover {
				border: 1px solid $color-auxiliary-light;
			}

			&:before {
				box-shadow:none !important;
				background-color: transparent !important;
				background: url(../images/icons/16x16/placeholder.svg) center center no-repeat;
				display: block;
				position: absolute;
				content: "";
				width: 32px;
				height: 16px;
				margin-top: 2px;
				margin-bottom: 3px;
				left:50%;
				top: 5px;
				margin-left: -16px;
				border:none;
			}
		}


		// Icons
		&--single_family { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Single_Family.svg); } } }
		&--multi_family { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Multi_Family.svg); } } }
		&--townhouse { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Townhouse.svg); } } }
		&--condominium { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Condominium.svg); } } }
		&--lots_lands { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_LotsLands.svg); } } }
		&--acreage_homes { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_AcreageHomes.svg); } } }

		&--yard { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_yard.svg); } } }
		&--wheelchair_access { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_wheelchair-access.svg); } } }
		&--waterfront { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_waterfront.svg); } } }
		&--tennis_area { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_tennis-area.svg); } } }
		&--study_room { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_study-room.svg); } } }
		&--sprinkler { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_sprinkler.svg); } } }
		&--spa_hot_tub { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_spa-hot-tub.svg); } } }
		&--private_pool { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_private-pool.svg); } } }
		&--patio { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_patio.svg); } } }
		&--media_room { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_media-room.svg); } } }
		&--garage { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_garage.svg); } } }
		&--energy_features { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_energy-features.svg); } } }
		&--elevator { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_elevator.svg); } } }
		&--controlled_access { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_controlled-access.svg); } } }
		&--price_reduced { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_price-reduced.svg); } } }
		&--open_house { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_open-house.svg); } } }
		&--new_listing { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_new-listing.svg); } } }
		&--new_constructions { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/icons_new-constructions.svg); } } }
		
		&--lake { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Lake.svg); } } }
		&--InGolfCommunity { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/InGolfCommunity.svg); } } }
		&--GreenCertification { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/GreenCertification.svg); } } }
		&--Cul-de-Sac { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Cul-de-Sac.svg); } } }
		&--Corner { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Corner.svg); } } }
		&--Wooded { .custom-control-label { &:before { background-image:url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Wooded.svg); } } }



		&--single_family { .custom-control-input:disabled ~ .custom-control-label, .custom-control-input:checked ~ .custom-control-label { &:before { background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Single_Family_On.svg); } } }
		&--multi_family { .custom-control-input:disabled ~ .custom-control-label, .custom-control-input:checked ~ .custom-control-label { &:before { background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Multi_Family_On.svg); } } }
		&--townhouse { .custom-control-input:disabled ~ .custom-control-label, .custom-control-input:checked ~ .custom-control-label { &:before { background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Townhouse_On.svg); } } }
		&--condominium { .custom-control-input:disabled ~ .custom-control-label, .custom-control-input:checked ~ .custom-control-label { &:before { background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Condominium_On.svg); } } }
		&--lots_lands { .custom-control-input:disabled ~ .custom-control-label, .custom-control-input:checked ~ .custom-control-label { &:before { background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_LotsLands_On.svg); } } }
		&--acreage_homes { .custom-control-input:disabled ~ .custom-control-label, .custom-control-input:checked ~ .custom-control-label { &:before { background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_AcreageHomes_On.svg); } } }
	}

	.custom-control-input:disabled ~ .custom-control-label {
		cursor: not-allowed;
	}

	.custom-control-input:disabled ~ .custom-control-label,
	.custom-control-input:checked ~ .custom-control-label {
		border-color: $color-har-blue;
		background: $color-har-blue-light-extra;
		color: $color-har-blue;

		&:before {
			// background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/filters/Icons_Single_Family_On.svg);
		}
	}

	.custom-control-input:disabled ~ .custom-control-label {
		opacity: 0.5;
		-webkit-opacity: 0.5 !important;
		-moz-opacity: 0.5 !important;
	}

}

// toggle buttons
.btn-group {
	&-toggle {
		width: 100%;
	}

	.btn {
		width: 50%;
		border: 1px solid $color-cloudy-sky;
		background-color: #fff;
		font-size:16px;color: #000;
		font-size: 12px;
		font-weight: bold;
		padding: 9px 30px;
		line-height: 1;
		cursor: pointer;
		color: $color-carbon !important;
		transform: translate(0,0);

		// Mouse pressed
		&:active {
			background: $color-cloudy-sky-light !important;
			color: $color-carbon !important;
		}

		&:hover {
			opacity: 1 !important;
			border-color: $color-auxiliary-light !important;
		}

		// Button active - ON (Bootstrap)
		&.active {
			background-color: $color-har-blue-dark !important;
			color: $color-snow-white !important;
			border-color: $color-har-blue-dark !important;
		}
	}
}
