.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  // margin: 0 8px 8px 0;
  display: inline-block;
  transition: all 0.2s ease !important;
  border-radius: 4px;
  font-weight: $font-weight-semi-bold;

  &:hover,
  &:focus {
    opacity: 0.8 !important;
	-webkit-opacity: 0.8 !important;
	-moz-opacity: 0.8 !important;
  }

  &:active {
    transform: translate(0, 2px);
  }

  /* == SIZES == */
  &--large {
    height: 48px !important;
    line-height: 48px !important;
    font-size: $font-size-large !important;
    padding: 0 32px !important;
  }

  &--medium {
    height: 40px !important;
    line-height: 40px !important;
    font-size: $font-size-medium !important;
    padding: 0 24px !important;
  }

  &--small {
    height: 32px !important;
    line-height: 32px !important;
    font-size: $font-size-small !important;
    padding: 0 16px !important;
  }

  &--small-extra {
    height: 24px !important;
    line-height: 24px !important;
    font-size: $font-size-small-extra !important;
    padding: 0 8px !important;
    &:before {
      width: 11px !important;
      height: 11px !important;
    }
  }


  /* == STYLES == */
  &--primary {
    background: $color-har-blue !important;
    border: 1px solid $color-har-blue-dark !important;
    height: 40px;
    line-height: 40px;
    font-size: $font-size-medium;
    padding: 0 24px;
    color: $color-snow-white !important;
    box-shadow: 0 2px 0 $color-har-blue-dark !important;
  }

  &--prominent {
    background: $color-har-pink !important;
    border: 1px solid $color-har-pink-dark !important;
    height: 40px;
    line-height: 40px;
    font-size: $font-size-medium;
    padding: 0 24px;
    color: $color-snow-white !important;
    box-shadow: 0 2px 0 $color-har-pink-dark !important;

    &:hover {
      color: $color-snow-white;
    }
  }

  &--ordinary {
    background: $color-snow-white !important;
    border: 1px solid $color-auxiliary-light !important;
    height: 40px;
    line-height: 40px;
    font-size: $font-size-medium;
    padding: 0 24px;
    color: $color-auxiliary;
    box-shadow: 0 2px 0 $color-auxiliary-light !important;

    &:hover {
      color: $color-auxiliary;
    }
  }

  &--shapeless {
    background: transparent !important;
    border: 1px solid rgba(255,255,255,0) !important;
    height: 40px;
    line-height: 40px;
    font-size: $font-size-medium;
    padding: 0 24px;
    color: $color-har-blue;
    box-shadow: none !important;

    &:hover {
      color: $color-har-blue;
    }
  }

  &:disabled {
    opacity: 0.65 !important;
    background: $color-cloudy-sky-light !important;
    border: 1px solid $color-auxiliary-light !important;
    height: 40px;
    line-height: 40px;
    font-size: $font-size-medium;
    padding: 0 24px;
    color: $color-auxiliary !important;
    cursor: not-allowed;
    box-shadow: 0 2px 0 $color-auxiliary-light !important;

    &:hover {
      color: $color-auxiliary;
    }
  }

  &--search {
    width: 24px !important;
    height: 24px !important;
    background: #fff url(../images/icons/24x24/icon-search.svg) center no-repeat;
    padding: 0 !important;
    border-radius: 50%;
  }


  /* == VARIATIONS == */
  // &--options {
  //   &:after {
  //     content: "";
  //     display: inline-block;
  //     width: 8px;
  //     height: 4px;
  //     margin-top: -4px;
  //     background: url(../assets/icon-special-option-arrow-white.svg) center no-repeat;
  //     background-size: contain;
  //     vertical-align: middle;
  //     margin-left: 4px;
  //   }
  //
  //   &.btn-ordinary,
  //   &.btn-shapeless,
  //   &:disabled {
  //     &:after {
  //       background-image: url(../assets/icon-special-option-arrow-dark.svg);
  //     }
  //   }
  // }

  &--icon {
    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-top: -4px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right: 4px;
    }

    &--placeholder {
      &:before {
        background-image: url(../images/icons/16x16/placeholder.svg);
      }
    }

    &--favorite {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/heart_outline.svg);
      }
    }

    &--dot_dot_dot {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/dot_dot_dot.svg);
      }
    }

    &--filters {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/filters.svg);
      }
    }

    &--share {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/share_gray.svg);
      }
    }
    
    &--map_view {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/map-view.svg);
      }
    }
    
    &--gallery {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/photo-gallery.svg);
      }
    }
    
    &--street_view {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/street-view.svg);
      }
    }
    
    &--close {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/close_medium_gra.svg);
      }
    }
    
    &--add {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/add.svg);
      }
    }
    
    &--add-white {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/add-negative.svg);
      }
    }
    
    &--edit {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/edit.svg);
      }
    }
    
    &--delete-white {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/delete-white.svg);
      }
    }
    
    &--external-link {
      &:before {
        background-image: url(https://content.harstatic.com/resource_2019/imgs/icons/external-link.svg);
      }
    }
	
	
    &--lone {
      &:before {
        margin-right: 0;
      }

      &.btn--large {
        padding: 0 16px !important;
      }
      &.btn--medium {
        padding: 0 12px !important;
      }
      &.btn--small {
        padding: 0 8px !important;
      }
      &.btn--small-extra {
        padding: 0 4px !important;
      }
    }
  }


}
