html, body {
  color: $color-carbon;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  font-family: 'Inter', sans-serif !important;
}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

strong {
  font-weight: $font-weight-bold;
}

a {
  @include transition('medium');
  color: $color-har-blue;
  text-decoration: none;

  &:hover {
    color: $color-har-blue;
    text-decoration: underline;
  }
}

.hover {
 &--color-har-blue-dark {
	 &:hover {
		 color: $color-har-blue-dark !important;
	 }
 }
 
 &--color-har-pink {
	 &:hover {
		 color: $color-har-pink !important;
	 }
 }
 
 &--color-available {
	 &:hover {
		 color: $color-available !important;
	 }
 }
 
 &--color-pending {
	 &:hover {
		 color: $color-pending !important;
	 }
 }
 
 &--color-sold {
	 &:hover {
		 color: $color-sold !important;
	 }
 }
 
 &--color-auxiliary 
 {
	 &:hover {
		 color: $color-auxiliary  !important;
	 }
 }
 
 &--color-carbon {
	 &:hover {
		 color: $color-carbon !important;
	 }
 }
 
 &--color-black {
	 &:hover {
		 color: $color-black !important;
	 }
 }
 
 &--color-cement {
	 &:hover {
		 color: $color-cement !important;
	 }
 }
 
 &--color-cement-dark {
	 &:hover {
		 color: $color-cement-dark !important;
	 }
 }
 
 &--color-slate {
	 &:hover {
		 color: $color-slate !important;
	 }
 }
 
 &--color-slate-light {
	 &:hover {
		 color: $color-slate-light !important;
	 }
 }
 
 &--color-cloudy-sky {
	 &:hover {
		 color: $color-cloudy-sky !important;
	 }
 }
 
 &--color-snow-white {
	 &:hover {
		 color: $color-snow-white !important;
	 }
 }
}


hr {
  border-top: 1px solid $color-har-blue-light-extra;
}

.clear_both {
  clear: both;;
}

.border_radius {
  &--default {
    border-radius: 4px;
  }
  &--pudgy {
    border-radius: 8px;
  }
  &--small {
    border-radius: 2px;
  }
  &--mini {
    border-radius: 1px;
  }
}

.border_thin_light {
  border: 1px solid $color-cloudy-sky;
}

.depth {
  border: 1px solid $color-cloudy-sky;

  &--landed {
    box-shadow: none;
  }
  &--emboss {
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  }
  &--standed_out {
    box-shadow: 0 4px 8px rgba(0,0,0,0.24);
  }
  &--above_all {
    box-shadow: 0 10px 16px rgba(0,0,0,0.24);
  }
}

.border-color {
	border-color: $color-cloudy-sky;
	
	&--har-blue-light {
		border-color: $color-har-blue-light !important;
	}
	&--har-blue-light-extra {
		border-color: $color-har-blue-light-extra !important;
	}

	&--cement_auxiliary {
		border-color: $color-auxiliary-light !important;
	}
	&--auxiliary {
		border-color: $color-auxiliary !important;
	}
	&--cement_light {
		border-color: $color-cement-light !important;
	}
	&--cement {
		border-color: $color-cement !important;
	}
	&--cement-dark {
		border-color: $color-cement-dark !important;
	}
	&--carbon {
		border-color: $color-carbon !important;
	}
	&--slate {
		border-color: $color-slate !important;
	}
	&--slate-light {
		border-color: $color-slate-light !important;
	}
	&--cloudy-sky {
		border-color: $color-cloudy-sky !important;
	}
	&--cloudy-sky-light {
		border-color: $color-cloudy-sky-light !important;
	}
	&--snow-white {
		border-color: $color-snow-white !important;
	}
	&--available {
		border-color: $color-available !important;
	}
	
}

@media screen and (max-width: 576px) { // -- sm
	.border-sm-none { border:none !important}
	.font_weight--normal-sm { font-weight: normal !important}
}

.horizontal_scrollable_items_container {
  white-space: nowrap;
  overflow-x: auto;
}

//Tooltip customization
.tooltip-inner {
	background-color: $color-carbon;
	padding: 6px 10px;
	font-size:12px;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: $color-carbon !important;
     border-width: 5px 5px 5px 0;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: $color-carbon !important;
    border-width: 5px 0 5px 5px;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: $color-carbon !important;
    border-width: 0 5px 5px;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: $color-carbon !important;
    border-width: 5px 5px 0;
}

.scroll-touch {
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.scroll-auto {
  -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
}

@media screen and (max-width: 720px) { // -- sm
	.row {
		&.md-small-gutters {
			.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
			{
				padding-right: 5px;
				padding-left:  5px;
			}
		}
	}
}