html, body {
  color: $color-carbon;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  font-family: 'Inter', sans-serif !important;
}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

strong {
  font-weight: $font-weight-bold;
}

a {
  @include transition('medium');
  color: $color-har-blue;
  text-decoration: none;

  &:hover {
    color: $color-har-blue;
    text-decoration: underline;
  }
}

.hover {
 &--color-har-blue-dark {
	 &:hover {
		 color: $color-har-blue-dark !important;
	 }
 }
 
 &--color-har-pink {
	 &:hover {
		 color: $color-har-pink !important;
	 }
 }
 
 &--color-available {
	 &:hover {
		 color: $color-available !important;
	 }
 }
 
 &--color-pending {
	 &:hover {
		 color: $color-pending !important;
	 }
 }
 
 &--color-sold {
	 &:hover {
		 color: $color-sold !important;
	 }
 }
 
 &--color-auxiliary 
 {
	 &:hover {
		 color: $color-auxiliary  !important;
	 }
 }
 
 &--color-carbon {
	 &:hover {
		 color: $color-carbon !important;
	 }
 }
 
 &--color-black {
	 &:hover {
		 color: $color-black !important;
	 }
 }
 
 &--color-cement {
	 &:hover {
		 color: $color-cement !important;
	 }
 }
 
 &--color-cement-dark {
	 &:hover {
		 color: $color-cement-dark !important;
	 }
 }
 
 &--color-slate {
	 &:hover {
		 color: $color-slate !important;
	 }
 }
 
 &--color-slate-light {
	 &:hover {
		 color: $color-slate-light !important;
	 }
 }
 
 &--color-cloudy-sky {
	 &:hover {
		 color: $color-cloudy-sky !important;
	 }
 }
 
 &--color-snow-white {
	 &:hover {
		 color: $color-snow-white !important;
	 }
 }
}


hr {
  border-top: 1px solid $color-har-blue-light-extra;
}

.clear_both {
  clear: both;;
}

.border_radius {
  &--default {
    border-radius: 4px;
  }
  &--pudgy {
    border-radius: 8px;
  }
  &--small {
    border-radius: 2px;
  }
  &--mini {
    border-radius: 1px;
  }
  &--round {
    border-radius: 16px;
  }
  &--rounded {
    border-radius: 32px;
  }
}

.border_thin_light {
  border: 1px solid $color-cloudy-sky;
}

.depth {
  border: 1px solid $color-cloudy-sky;

  &--landed {
    box-shadow: none;
  }
  &--emboss {
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  }
  &--standed_out {
    box-shadow: 0 4px 8px rgba(0,0,0,0.24);
  }
  &--above_all {
    box-shadow: 0 10px 16px rgba(0,0,0,0.24);
  }
  &--above_all_extra {
    box-shadow: 0 16px 56px 0 rgba(0, 0, 0, 0.16);  
  }
}

.border-color {
	border-color: $color-cloudy-sky;
	
	&--har-blue-light {
		border-color: $color-har-blue-light !important;
	}
	&--har-blue-light-extra {
		border-color: $color-har-blue-light-extra !important;
	}

	&--cement_auxiliary {
		border-color: $color-auxiliary-light !important;
	}
	&--auxiliary {
		border-color: $color-auxiliary !important;
	}
	&--cement_light {
		border-color: $color-cement-light !important;
	}
	&--cement {
		border-color: $color-cement !important;
	}
	&--cement-dark {
		border-color: $color-cement-dark !important;
	}
	&--carbon {
		border-color: $color-carbon !important;
	}
	&--slate {
		border-color: $color-slate !important;
	}
	&--slate-light {
		border-color: $color-slate-light !important;
	}
	&--cloudy-sky {
		border-color: $color-cloudy-sky !important;
	}
	&--cloudy-sky-light {
		border-color: $color-cloudy-sky-light !important;
	}
	&--snow-white {
		border-color: $color-snow-white !important;
	}
	&--available {
		border-color: $color-available !important;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .border-sm-top {
    border-top:1px solid $color-cloudy-sky !important;
  }
  .border-sm-right {
    border-right:1px solid $color-cloudy-sky !important;
  }
  .border-sm-bottom {
    border-bottom:1px solid $color-cloudy-sky !important;
  }
  .border-sm-left {
    border-left:1px solid $color-cloudy-sky !important;
  }
  .border-sm-top-0 {
    border-top: 0 !important;
  }
  .border-sm-right-0 {
    border-right: 0 !important;
  }
  .border-sm-bottom-0 {
    border-bottom: 0 !important;
  }
  .border-sm-left-0 {
    border-left: 0 !important;
  }
  .border-sm-x {
    border-left:1px solid $color-cloudy-sky !important;
    border-right:1px solid $color-cloudy-sky !important;
  }
  .border-sm-y {
    border-top:1px solid $color-cloudy-sky !important;
    border-bottom:1px solid $color-cloudy-sky !important;
  }
  .border-sm {
    border-top:1px solid $color-cloudy-sky !important;
    border-bottom:1px solid $color-cloudy-sky !important;
    border-left:1px solid $color-cloudy-sky !important;
    border-right:1px solid $color-cloudy-sky !important;
  }
  .border-sm-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
  
  .h-sm-100 { height: 100% !important; }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .border-md-top {
    border-top:1px solid $color-cloudy-sky !important;
  }
  .border-md-right {
    border-right:1px solid $color-cloudy-sky !important;
  }
  .border-md-bottom {
    border-bottom:1px solid $color-cloudy-sky !important;
  }
  .border-md-left {
    border-left:1px solid $color-cloudy-sky !important;
  }
  .border-md-top-0 {
    border-top: 0 !important;
  }
  .border-md-right-0 {
    border-right: 0 !important;
  }
  .border-md-bottom-0 {
    border-bottom: 0 !important;
  }
  .border-md-left-0 {
    border-left: 0 !important;
  }
  .border-md-x {
    border-left:1px solid $color-cloudy-sky !important;
    border-right:1px solid $color-cloudy-sky !important;
  }
  .border-md-y {
    border-top:1px solid $color-cloudy-sky !important;
    border-bottom:1px solid $color-cloudy-sky !important;
  }
  .border-md {
    border-top:1px solid $color-cloudy-sky !important;
    border-bottom:1px solid $color-cloudy-sky !important;
    border-left:1px solid $color-cloudy-sky !important;
    border-right:1px solid $color-cloudy-sky !important;
  }
  .border-md-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
  
  .h-md-100 { height: 100% !important; }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .border-lg-top {
    border-top:1px solid $color-cloudy-sky !important;
  }
  .border-lg-right {
    border-right:1px solid $color-cloudy-sky !important;
  }
  .border-lg-bottom {
    border-bottom:1px solid $color-cloudy-sky !important;
  }
  .border-lg-left {
    border-left:1px solid $color-cloudy-sky !important;
  }
  .border-lg-top-0 {
    border-top: 0 !important;
  }
  .border-lg-right-0 {
    border-right: 0 !important;
  }
  .border-lg-bottom-0 {
    border-bottom: 0 !important;
  }
  .border-lg-left-0 {
    border-left: 0 !important;
  }
  .border-lg-x {
    border-left:1px solid $color-cloudy-sky !important;
    border-right:1px solid $color-cloudy-sky !important;
  }
  .border-lg-y {
    border-top:1px solid $color-cloudy-sky !important;
    border-bottom:1px solid $color-cloudy-sky !important;
  }
  .border-lg {
    border-top:1px solid $color-cloudy-sky !important;
    border-bottom:1px solid $color-cloudy-sky !important;
    border-left:1px solid $color-cloudy-sky !important;
    border-right:1px solid $color-cloudy-sky !important;
  }
  .border-lg-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
  
  .h-lg-100 { height: 100% !important; }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .border-xl-top {
    border-top:1px solid $color-cloudy-sky !important;
  }
  .border-xl-right {
    border-right:1px solid $color-cloudy-sky !important;
  }
  .border-xl-bottom {
    border-bottom:1px solid $color-cloudy-sky !important;
  }
  .border-xl-left {
    border-left:1px solid $color-cloudy-sky !important;
  }
  .border-xl-top-0 {
    border-top: 0 !important;
  }
  .border-xl-right-0 {
    border-right: 0 !important;
  }
  .border-xl-bottom-0 {
    border-bottom: 0 !important;
  }
  .border-xl-left-0 {
    border-left: 0 !important;
  }
  .border-xl-x {
    border-left:1px solid $color-cloudy-sky !important;
    border-right:1px solid $color-cloudy-sky !important;
  }
  .border-xl-y {
    border-top:1px solid $color-cloudy-sky !important;
    border-bottom:1px solid $color-cloudy-sky !important;
  }
  .border-xl {
    border-top:1px solid $color-cloudy-sky !important;
    border-bottom:1px solid $color-cloudy-sky !important;
    border-left:1px solid $color-cloudy-sky !important;
    border-right:1px solid $color-cloudy-sky !important;
  }
  .border-xl-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
  
  .h-xl-100 { height: 100% !important; }
}

@media screen and (max-width: 576px) { // -- sm
	.border-sm-none { border:none !important}
	.font_weight--normal-sm { font-weight: normal !important}
}

.horizontal_scrollable_items_container {
  white-space: nowrap;
  overflow-x: auto;
}

//Tooltip customization
.tooltip-inner {
	background-color: $color-carbon;
	padding: 6px 10px;
	font-size:12px;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: $color-carbon !important;
     border-width: 5px 5px 5px 0;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: $color-carbon !important;
    border-width: 5px 0 5px 5px;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: $color-carbon !important;
    border-width: 0 5px 5px;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: $color-carbon !important;
    border-width: 5px 5px 0;
}

.scroll-touch {
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.scroll-auto {
  -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
}

.status {
	border-radius: 50%;
	width: 8px;
	height: 8px;
	display: inline-block;
	&--active {
		background-color: #00c89c;
	}
}

.small-gutters.row {
	margin-left: -8px;
	margin-right: -8px;
}

.small-gutters > .col, .small-gutters > [class*="col-"] { 
	padding-right:8px;
	padding-left:8px;	
}

@media screen and (max-width: 720px) { // -- md
	.row {
		&.md-small-gutters {
			.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
			{
				padding-right: 5px;
				padding-left:  5px;
			}
		}
	}
	.bg_color_md_none { background-color: transparent !important;}
}

.circle-image {
	border-radius: 50%;
	background-color: $color-cloudy-sky-light;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: inline-block;
	overflow: hidden;
}

.typeahead_wrapper .twitter-typeahead { flex:1 1 auto; }
.typeahead_custom {right:0px; }
.typeahead_custom .tp_item_text{ text-align: left; }
.twitter-typeahead {display: block !important;}
.typeahead_scrollable .typeahead_custom {overflow-y: scroll !important;bottom: auto;height: 40vh;}

.overflow-inherit 
	{
		overflow: inherit !important;
	}

.bg--image {
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;	
}


.cursor {
	&--pointer { 
		cursor: pointer !important;
	}	
}

/* typeahead styles */
.typeahead_custom .tp_item { border-bottom: 1px solid #dfe3f0;padding:12px 16px; font-size:14px;text-decoration: none;color: #212529 !important;}
.typeahead_custom .tp_item:hover {background-color: #f3f4f7;}
.tp_item_text{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;align-self: center;}
.tp_item .agent_signature__photo a {background-color:#DDDDDD;}
.tp_item .agent_signature__photo a span {font-weight: bold; font-size: 12px;text-align:center;color:#ffffff;display:block;line-height:32px;}
.tp_item .status_dote {width:8px;height:8px;border-radius:50%;margin:4px 5px 0px 0px;background-color: #fba000;display: inline-block;float:left;}
.tp_item.crm .agent_signature__photo a{width:40px;height:40px;line-height:40px;}
.tp_item.crm .agent_signature__photo a span{line-height:40px;}
.tp_item.crm .agent_signature__info {width: calc(100% - 48px);}

.ulternate_row:nth-child(odd) { background-color: #F3F4F7; }

.collapseable_link {position: relative;display: inline-block;padding-right: 20px;margin-bottom: 15px;}
.collapseable_link:after {display: block;content: '';position: absolute;width: 12px;height: 12px;background-image: url('https://content.harstatic.com/media/icons/arrow-gray-up_black.svg');background-repeat: no-repeat;background-position: center center;			background-size: contain;right: 0px;top: 6px;}
.collapsed.collapseable_link:after {background-image: url('https://content.harstatic.com/media/icons/arrow-gray-down_black.svg');}
	

.object-fit {
	&-cover {
    	-o-object-fit: cover!important;
		object-fit: cover!important;
	}
	&.object-fit-contain {
    	-o-object-fit: contain!important;
		object-fit: contain!important
    }
	&fill {
    	-o-object-fit: fill!important;
		object-fit: fill!important;
	}
}


// only Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
  .bg-image-md-none {background-image: none !important; }
}

// only Small devices (landscape phones, 576px and down)
@media (max-width: 576px) { 
}

