html, body {
  color: $color-carbon;
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  font-family: 'Inter', sans-serif !important;
}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

strong {
  font-weight: $font-weight-bold;
}

a {
  @include transition('medium');
  color: $color-har-blue;
  text-decoration: none;

  &:hover {
    color: $color-har-blue;
    text-decoration: underline;
  }
}

hr {
  border-top: 1px solid $color-har-blue-light-extra;
}

.clear_both {
  clear: both;;
}

.border_radius {
  &--default {
    border-radius: 4px;
  }
  &--pudgy {
    border-radius: 8px;
  }
}

.border_thin_light {
  border: 1px solid $color-cloudy-sky;
}

.depth {
  border: 1px solid $color-cloudy-sky;

  &--landed {
    box-shadow: none;
  }
  &--emboss {
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  }
  &--standed_out {
    box-shadow: 0 4px 8px rgba(0,0,0,0.24);
  }
  &--above_all {
    box-shadow: 0 10px 16px rgba(0,0,0,0.24);
  }
}

.border_bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	
	&--cement_light {
		border-bottom-color: $color-cement-light;
	}
	&--cement-dark {
		border-bottom-color: $color-cement-dark;
	}

	&--carbon {
		border-bottom-color: $color-carbon;
	}
	&--slate {
		border-bottom-color: $color-slate;
	}
	&--slate-light {
		border-bottom-color: $color-slate-light;
	}
	&--cloudy-sky {
		border-bottom-color: $color-cloudy-sky;
	}
	&--cloudy-sky-light {
		border-bottom-color: $color-cloudy-sky-light;
	}
	&--snow-white {
		border-bottom-color: $color-snow-white;
	}
}

.horizontal_scrollable_items_container {
  white-space: nowrap;
  overflow-x: auto;
}
