.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &--16x16 {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  &--github { background-image: url(https://content.harstatic.com/media/icons/styleguide/icon-github.svg); }
  &--price_reduced { background-image: url(https://content.harstatic.com/media/icons/styleguide/icon-price-reduced.svg); }
  
  &--circle {
	  border: 1px solid $color-cloudy-sky;
	  height: 48px;
	  width: 48px;
	  border-radius: 50%;
	  line-height: 48px;
	  text-align: center;	  
	  display: inline-flex;
	  justify-content: center;
	  align-items: center;
	  
	  img {
	  	max-height: 30px;
	  	max-width: 30px;
	  }
	  
	  &_large {
		  width: 80px;
		  height: 80px;
		  line-height: 80px;
		  
		  img {
		  	max-height: 50px;
		  	max-width: 50px;
		  }
	  }
  }
  
}


.iconlink {
	display: inline-block;
	color: $color-auxiliary;
	font-size: $font-size-medium;
	letter-spacing: 0.09px;
	position: relative;
	height:24px;
	line-height:24px;
	padding: 0px 20px 0px 28px ;
	text-decoration: none !important;
	
	span {
		display: block;
		position: absolute;
		left:0px;
		top:-1px;
	}
	&:hover {
		opacity: 0.5 !important;
		color: $color-auxiliary;
	}
}

.icon_square {
	width: 40px;
	height: 40px;
	border-radius: 4px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #dfe3f0;
	background-color: #fff;
	display: inline-flex;	
	span {
		align-self: center;
		width: 40px;
		
		img {
			max-width: 40px;
			max-height: 40px;
		}
	}
}