.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &--16x16 {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  &--github { background-image: url(../images/icon-github.svg); }
  &--price_reduced { background-image: url(../images/icon-price-reduced.svg); }
}
