
//BLOG CONTENT STYLING
.blog_content {
	
	img { 
		border-radius: 4px;
		margin-bottom: 20px;
	}
	
	ul {
		
		li {
			padding:0px;
			margin:0px;
			list-style:none;
			display:block;
			padding:0px 0px 4px 14px;
			position: relative;
			
			&:before {
				position:absolute;
				display:block;
				width:5px;
				height:5px;
				background-color: $color-carbon;
				left:0px;
				top:7px;
				content:"";
				border-radius:50%;
			}
		}
	}		

}//.blog_content {
	
	
//accordian
.accordion {
	
	&--tab {
		
		&_header {
			height: 48px;
			line-height: 48px;
			padding-left: 15px;	
			padding-right: 15px;
			display: block;
			border-radius: 4px;
			font-weight: bold;
			color: $color-carbon !important;
			position: relative;
			font-size: $font-size-medium;
			background-color: #f3f4f7;
			text-decoration: none !important;
			
			&:after{
				content: '';
			    position: absolute;
			    background: url("https://content.harstatic.com/media/icons/arrow-gray-up.svg") no-repeat center center;
			    width: 16px;
			    height: 16px;
			    background-size: 12px;
			    right:16px;
			    top: 16px;
			}
			
			&.collapsed {
				background-color: transparent;
				border-bottom: 1px solid #dfe3f0;
				border-radius: 0px;
				
				&:after{
					content: '';
				    position: absolute;
				    background: url("https://content.harstatic.com/media/icons/arrow-gray-down.svg") no-repeat center center;
				    width: 16px;
				    height: 16px;
				    background-size: 12px;
				    right:16px;
				    top: 16px;
				}
			
			}

		}
		
		&_sub {
			
			padding: 16px;
			
			&_tab {
				margin-bottom: 2px;
				
				&_header {
					height: 36px;
					line-height: 36px;
					padding-left: 15px;	
					padding-right: 15px;
					display: block;
					border-radius: 4px;
					color: $color-carbon !important;
					position: relative;
					text-decoration: none !important;
					background-color: #f3f4f7;
					
					&:after{
						content: '';
					    position: absolute;
					    background: url("https://content.harstatic.com/media/icons/arrow-gray-up.svg") no-repeat center center;
					    width: 16px;
					    height: 16px;
					    background-size: 10px;
					    right:12px;
					    top: 12px;
					}
					
					&.collapsed {
						background-color: rgba(243, 244, 247, 0.4);
					
						&:after{
							content: '';
						    position: absolute;
						    background: url("https://content.harstatic.com/media/icons/arrow-gray-down.svg") no-repeat center center;
						    width: 16px;
						    height: 16px;
						    background-size: 10px;
							right:12px;
							top: 12px;
						}
					
					}
		
				}
				
				&_links {
					
					&_link {
						border-bottom: 1px solid #f3f4f7;
						display: block;
						padding: 12px 16px;
						line-height: 18px;
						
						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
		}
	
	}
	
	&__bordered {
		border-radius: 8px;
		border: solid 1px #d0d0d0;
  		background-color: #fff;	
	}
	
	&--faqs {
		border-bottom: 1px solid rgba(208, 208, 208, 0.4);
		
		&_header {
			line-height: 1.5;
			padding-left: 24px;	
			padding-right: 60px;
			display: block;
			border-radius: 0px;
			font-weight: bold;
			color: $color-carbon !important;
			position: relative;
			font-size: $font-size-large;
			text-decoration: none !important;
			text-align: left;
			border-bottom: 0px;
			padding-top: 20px;
			padding-bottom: 20px;
			
			&:after{
				content: '';
			    position: absolute;
			    background: url("https://content.harstatic.com/media/icons/accordian_arrow_up.svg") no-repeat center center;
			    width: 32px;
			    height: 32px;
			    background-size: 32px;
			    right:24px;
			    top: calc(50% - 16px);
			}
			
			&.collapsed {
				background-color: transparent;
				border-radius: 0px;
				
				&:after{
					content: '';
				    position: absolute;
				    background: url("https://content.harstatic.com/media/icons/accordian_arrow_down.svg") no-repeat center center;
				    width: 32px;
				    height: 32px;
				    background-size: 32px;
				    right:24px;
				    top: calc(50% - 16px);
				}
			
			}
		}
		
		&_body {
			padding: 0px 24px 24px 24px;
			font-size: $font-size-medium;
			color: $color-auxiliary;
			text-align: left;
		}		
	}	
	
	&--simple {
		border-bottom: 1px solid rgba(208, 208, 208, 0.4);
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
		
		h3 {
			line-height: 1.5;
			padding-right: 30px;
			display: block;
			border-radius: 0px;
			font-weight: bold;
			color: $color-carbon !important;
			position: relative;
			font-size: $font-size-large;
			text-decoration: none !important;
			text-align: left;
			border-bottom: 0px;
			margin-bottom: 0px;
			cursor: pointer;
			
			&:before {
				content: '';
				position: absolute;
				right: 5px;
				top: 8px;
				width: 16px;
				height: 10px;
				background: url(https://content.harstatic.com/media/icons/arrow-gray-down_black.svg);
				transform: rotate(180deg);
			}
					
			&.collapsed {
				background-color: transparent;
				border-radius: 0px;				
				&:before {
					transform: rotate(0deg);
				}			
			}
			
			&.arrow_left {
				padding-right: 0px;
				padding-left: 30px;
				&:before {
					left: 0px;
					right: auto;
				}
			}
		}		
		&__body {
			padding-top:10px;
			margin-bottom: 0px;
			font-size: $font-size-medium;
			text-align: left;
		}		
	}

}



// circle buttons
.circle_btn {
	display:inline-block;
	margin:7px;
	
	div {
		border-radius:50%;
		width:47px;
		height:47px;
		text-align:center;
		line-height:47px;
		border:1px solid #dfe3f0;
		margin-bottom:2px;
		margin-left: auto;
		margin-right: auto;
	}
	
	span {
		display:block;
		text-align: center;
		font-size:12px;
		text-decoration: none;
	}
}


//agents photo collage block 
.collage {
	&_item {
		display: block;
		width: 16.666667%;
		padding-bottom: 12.666667%;
		float: left;
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		opacity: 74%;
		
		&:hover {
			filter: none !important;
			opacity: 1;
		}
		
	}
}


.advisory {
	&_item {
		display:block;
		width: 120px;
		padding-bottom: 120px;
		float: left;
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		border-radius: 4px;
		margin-right: 16px;
		margin-bottom: 16px;
		
		&:hover {
			filter: none !important;
		}
		
	}
}

//pagination
.pagination {
	.page-item
		{
			.page-link {
				min-width: 36px;
				height: 34px;
				padding: .73rem .75rem;
				text-align: center;
				border: 1px solid $color-cloudy-sky;
				color: $color-black !important;
			}
			
			&.active .page-link {				
				background-color: $color-cloudy-sky-light;
				border-color: $color-cloudy-sky;
			}
		}
}


//alert box
.alertbox {
	font-size: $font-size-small-extra;
	border-radius: 4px;
	display: inline-block;
	padding: 8px;
	
	&--warning {
		background-color: #fdf7cf;
		color: #945e00;
	}
}


.tabuler {
	padding: 12px;
	border-bottom: 1px solid $color-cloudy-sky-light;
	display: flex;
	
	&--list {
		&__img { 
			display: block;
			width: 88px;
			
			a {
				display: block;
				width: 88px;
				height:66px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				border-radius: 2px;
			}
		}
		
		&__content {
			display: block;
			width: calc(100% - 88px);
			padding-left:12px;
			align-self: center;
			color: $color-slate;
			text-align: left;
			
			a {
				font-weight: $font-weight-semi_bold;
			}
			
			&_clear {
				display:none;
			}
			
			&_address {
				width: 30%;
				float: left;
			}
			
			&_info {
				width: 14%;
				float: left;
			}
			
			&_city {
				width: 14%;
				float: left;
			}
			
			&_listings {
				width: 14%;
				float: left;
			}
			
			@media screen and (max-width: 767px) {				
				&_clear {
					display:block;
					clear: both;
					line-height:5px;
				}
				&_city,
				&_address {
					width: auto;
					float: none;
					display:inline-block;
					margin-left: 0px;
				}
				&_city {
					clear: right;
				}
				
				&_info {					
					width:auto;
					float: none;
					padding-right: 2px;
					margin-right: 2px;
					border-right: 1px solid $color-cloudy-sky-light;
					display: inline-block;
				}
				
				&_listings{
					width: 100%;
					clear: both;
					float:none;
				}
			}
			
		}
	}
}

//number badge 
//note:just parked need to redo its code

.number_oval { border: solid 8px #c5531e; height:144px;width: 144px; border-radius:50%;text-align:center;}
.number_oval_number { font-size: 46px;color: #c5531e; letter-spacing: -2px; font-weight: bold;line-height:22px;padding-top:45px; padding-bottom:10px; }
.number_oval_caption {font-size: 16px; color: #c5531e; }
.number_oval_title {text-align: center;font-size:16px;font-weight:bold; color: #c5531e; padding-top:5px;}

.diamond .number_oval { border: solid 8px #14a5cf;}
.diamond .number_oval_number,.diamond .number_oval_title,.diamond .number_oval_caption,.diamond .number_oval_caption { color: #14a5cf !important; }
.diamond .number_oval_title path { fill: #14a5cf; }

.platinum .number_oval { border: solid 8px #adadad;}
.platinum .number_oval_number,.platinum .number_oval_title,.platinum .number_oval_caption,.platinum .number_oval_caption { color: #adadad !important; }
.platinum .number_oval_title path { fill: #adadad; }

.gold .number_oval { border: solid 8px #ff943d;}
.gold .number_oval_number,.gold .number_oval_title,.gold .number_oval_caption,.gold .number_oval_caption { color: #ff943d !important; }
.gold .number_oval_title path { fill: #ff943d; }

.silver .number_oval { border: solid 8px #7f7f7f;}
.silver .number_oval_number,.silver .number_oval_title,.silver .number_oval_caption,.silver .number_oval_caption { color: #7f7f7f !important; }
.silver .number_oval_title path { fill: #7f7f7f; }


/* inpage nav used in listing detail,heighrise, and other apartment details */
#InpageNav {}
#InpageNav a {padding:17px 24px;font-size:14px;display:inline-block;color:$color-auxiliary;text-decoration: none;border-bottom: 4px solid rgba(0,0,0,0.0);font-weight:600;}
#InpageNav a:hover {opacity:0.6;}
#InpageNav a.active{padding:17px 24px;border-bottom:4px solid $color-har-blue;color:$color-har-blue !important;}

/* AVM map popup */
.avm-popover{min-width:320px;z-index:1111111 !important;}
.avm-popover .popover-body {padding:24px;}
.bkl_img,.core_img,.apdis_img {max-width:50%;}
.mapboxgl-popup { 
	max-width:320px !important; 
	
	@media screen and (max-width: 767px) {	
		max-width:250px !important;
	}
}
.mapboxgl-popup .avm-popover{ min-width:100% !important; }
.mapboxgl-popup .mapboxgl-popup-content { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 24%); }
.mapboxgl-popup .mapboxgl-popup-close-button {font-size:1px !important;color:#ffffff !important;width:22px;height:22px;background-image: url(https://content.harstatic.com/media/icons/close_black.svg) !important; background-position:center center; background-repeat:no-repeat; right:10px !important;top: 10px !important;}
		
		
/* Generic styles */
.overflow-inherit{overflow: inherit !important;}


/* flags */
.flag {
	border-radius: 2px;
	border: 1px solid $color-cloudy-sky;
	object-fit: cover;
	object-position: center center;
	margin-right:3px;
	margin-bottom:4px;	
	
	&--small { 
		width: 36px;
		height: 24px;
	}
	
	&--mini { 
		width: 22px;
		height: 16px;
	}
}

.certificate {
	border-radius: 4px;
	margin-right:2px;
	margin-bottom:4px;	
	border: solid 1px #ddd;
	text-decoration: none;
	color: $color-har-blue;
	line-height:24px;
	padding: 0px 5px;
	display: inline-block;
	font-weight: $font-weight-regular !important;
	text-decoration: none !important;
	
	&--small { 
		height: 24px;
		font-size: $font-size-small;
	}
	
	&--mini { 
		width: 22px;
		height: 16px;
	}
}


/* focused dropdpwn */
.noscroll_select {
	overflow: hidden !important;
	
	@media screen and (max-width: 767px) {	
		overflow: auto;
	}
}
.focused_dropdown_overlay {
	display:none; 
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color: rgba(0, 0, 0, 0.15);
	z-index: 10002;
	position: fixed;
	
	/*
	@media screen and (max-width: 767px) {	
		display: none !important;
	}
	*/
}

.focused_dropdown {
	
	.dropdown-toggle {
		border-radius: 4px;
		padding: 0px 24px 0px 8px !important;
		
		&:after {
			background-position:left center;		
		}		
	}
	&.show {		
		.dropdown-toggle {
			&:after {
				background-position: left center !important;
			}			
		}
		z-index:100003;
	}	
		
	.dropdown-menu {
		position: relative;
		min-width: 280px;
		padding:0px 0px 16px 0px;
		top: 10px !important;
		left: -83px !important;
		
		@media screen and (max-width: 767px) {
			right: 0px !important;
		}
		
		&:after {
		  width: 282px;
		  content: " ";
		  position: absolute;
		  right:47%;
		  width: 7px;
		  top: -7px;
		  border-top: none;
		  border-right: 7px solid transparent;
		  border-left: 7px solid transparent;
		  border-bottom: 7px solid #f8f8fa;
		  
		  @media screen and (max-width: 767px) {
		  	right:60px;				  
		  }
		}	
	}
	
	.focused_dropdown_header {
		background-color: rgba(243, 244, 247, 0.64);
		padding:12px 24px;
		color: $color-auxiliary;
		text-align: center;
		margin-bottom: 16px;
	}
	
	.dropdown-item {
		padding: 8px 24px;
		font-size: 14px;
	}
	
	.focused_dropdown_item_icon {
		width: 24px;
		height: 24px;
		margin: 0 8px 0 0;
		opacity: 0.42;
		background-color:$color-cement-light;
		display: inline-block;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		margin-right: 8px;
		float: left;
	}
	
	&.dropdown-selected {
		.dropdown-toggle {
			background-color: $color-cement-light;
		}
	}
	
}

.select_listing_overlay,.select_listing_overlay_responsive {

	padding: 0 8px 0 8px;
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.24);
	border: solid 1px #dfe3f0;
	background-color: #ffffff;
	position: fixed;
	bottom:0px;
	top: auto;
	left:0px;
	right: 0px;
	z-index: 10001;

}
.select_listing_overlay { 
	background-color: #EDF0FA;
}


.btn_close_overlay {}

.addprop_cont {
	
	display: block;
	height: 98px;
	width: 106px;
	margin: 12px;
	text-decoration: none !important;
	
	&--empty {	
		opacity: 0.72;
		border-radius: 4px;
		border: dashed 2px $color-auxiliary-light;
		background-color: #ffffff;
		font-size: $font-size-small;
		color: $color-auxiliary;
		text-align: center;	
		display: inline-flex;
	}
	
	&__img {
		display:block;
		width: 106px;
		height: 64px;
		border-radius: 2px;
		overflow: hidden;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 6px;
	}
	
	&__text {
		font-size: $font-size-small-extra;
		color: $color-auxiliary;
		text-align: center;
		line-height: 1.27;
		text-decoration: none;
	}
	
	.btn_remove_prop {
		float: right;
		margin-top:6px;
		margin-right: 6px;
		border-radius: 50%;
		overflow: hidden;
	}
}

.disclaimer {
	background-color: $color-cement-light;
	border-radius: 4px;
	padding: 10px;
	text-align: left;
	
	&__title {
		font-weight: $font-weight-bold;
		font-size: $font-size-small-extra;
		color: $color-slate;
		opacity: 0.8;
		padding-bottom: 5px;
	}
	
	&__text {
		font-size: $font-size-small-extra;
		color: $color-slate;
		opacity: 0.8;
	}
	
}


.qoutetion {
	background-color: $color-cement-light;
	border-radius: 4px;
	padding: 12px;
	text-align: left;
		
	&__text {
		font-size: $font-size-medium;
		color: $color-auxiliary;
		font-style: italic;
		position: relative;
		padding-left: 20px;
		padding-right: 0px;
		display: inline-flex;
		
		&:before {
			content: "";
			display: block;
			width: 14px;
			height: 14px;
			position: absolute;
			left: 0px;
			top: 0px;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url(https://content.harstatic.com/media/icons/quote-left.svg);
			background-size: 15px 15px;
		}
		
		&_endqoute {
			display:inline;
			width: 16px;
			height: 16px;
			object-fit: content;
			margin-left: 8px;
		}
	}
	
	&__readmore {
		display: none;
	}
	
	&__inline {
			
	}
	
	@media screen and (max-width: 768px) {
		display: flex;
		
		&__text {
			flex-grow: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: $font-size-small;
			padding-right: 5px;
			
			span {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			&_endqoute {
				display: none;
			}
		}
		
		&__readmore {
			display: flex;
			white-space: nowrap;
			font-style: italic;
			font-weight: bold;
			color: $color-auxiliary;
		}		
	}
	
	&__large {
		padding: 52px;
		border-radius: 18px;
		
		&__text {
			font-size: $font-size-large_extra_extra;
			color: $color-auxiliary;
			font-style: italic;
			position: relative;
			padding-left: 48px;
			padding-right: 0px;
			display: inline-flex;
			font-weight: $font-weight-semi_bold;
			padding-top: 5px;
			
			&:before {
				content: "";
				display: block;
				width: 32px;
				height: 32px;
				position: absolute;
				left: 0px;
				top: 0px;
				background-repeat: no-repeat;
				background-position: center center;
				background-image: url(https://content.harstatic.com/media/icons/quote-left.svg);
				background-size: 32px 32px;
			}
			
			&_endqoute {
				display:inline;
				width: 32px;
				height: 32px;
				object-fit: content;
				margin-left: 16px;
			}
		}
		
		@media screen and (max-width: 768px) {
			padding: 18px;	
			
			&__text {
				font-size: $font-size-large;
				padding-left: 28px;
				padding-top: 0px;
				
				&:before {
					width: 18px;
					height: 18px;
					background-size: 18px 18px;
				}

			}
		}
	}
}


// ratings
.ratingbar {
	display: flex;
	padding-bottom: 4px;
	
	&__title {
		font-size: $font-size-medium;
		color: $color-auxiliary;
		font-weight: $font-weight-semi_bold;
		width: 120px;
	}
	&__bar {
		border-radius: 4px;
		background-color: $color-cloudy-sky;
		border-radius: 4px;
		height: 8px;
		overflow: hidden;
		width: calc(100% - 185px);
		align-self: center;
		
		&_filled {
			height: 8px;
			background-color: #ffb700;
			border-radius: 4px;
		}
	}
	&__number {
		font-size: $font-size-medium;
		color: $color-auxiliary;
		width: 65px;
		text-align: right;
	}	
}	


//map pointer
.map_pointer {

	&__agent {
		display: block;
		height: 48px;
		width: 40px;
		background-image: url(https://content.harstatic.com/media/icons/map_pointer_bg.svg);
		background-repeat: no-repeat;
		background-position: center center;
		padding: 3px;
		
		&__agentpic {
			width: 34px;
			height: 34px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: center center;	
			background-size: cover;
		}
	}
	
	&__agents {
		display: block;
		background-image: url(https://content.harstatic.com/media/icons/map_pointer_oval.svg);
		background-repeat: no-repeat;
		background-position: center center;
		height: 56px;
		width: 56px;
		padding: 5px;
		
		&__inner {
			background-image: url(https://content.harstatic.com/media/icons/map_pointer_oval_uper.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			height: 46px;
			width: 46px;
			line-height: 51px;
			text-align: center;
			font-size: $font-size-large;
			color: $color-snow-white;
			font-weight: $font-weight-semi_bold;
		}
	}
}



//breadcrumb
.breadcrumbs {
	padding: 24px 0px;
	color: $color-cement-dark;
	
	a,&__empty { 
		color: $color-cement-dark !important;
		font-size: $font-size-medium;
		position: relative;
		padding-right: 20px;
		display:inline-block;
		
		&:after {
			content: "";
			background: url(https://content.harstatic.com/media/icons/icon-breadcrumb-as.svg) no-repeat center center;
			position: absolute;
			display: block;
			width: 16px;
			height: 16px;
			top: 3px;
			right:0px;
		}
		
		&:last-child {
			&:after {
				content: none !important;
			}
		}
	}
	
	@media screen and (max-width: 767px) {
		padding: 18px 0px;
	}

}
.breadcrumbs__withshare .breadcrumbs {
	padding-bottom: 0px !important;
}

.property_select_checkbox {
	width: 93px;
	height: 93px;
	padding: 15px;
	border-radius: 4px;
	background-image: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0) 71%);
}
.responsive_properties {
	max-height: 131px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.select_listing_overlay_responsive {
	display: none;
	@media screen and (max-width: 767px) {	
		display: block;
	}
}

.section_roundedbg {
	background-color: #e9eef0;
	max-width: 1260px;
	margin: 0px auto;
	border-radius: 32px;
	
	
	@media screen and (max-width: 767px) {
		border-radius: 0px;
		padding: 60px 20px 0px 20px;
	}
}

.resources_link {
	font-size: $font-size-medium;
	color: $color-har-blue;
	padding-bottom: 10px;
	display: block;
	
	@media screen and (max-width: 767px) {
		color: $color-har-blue;
	}
}

.circle_nimber {
	background-color: #f3f4f7;
	border-radius: 10px;
	height: 20px;
	color: $color-auxiliary;
	text-align: center;
	font-size: $font-size-small;
	font-weight: $font-weight-semi_bold;
	line-height:20px;
	display: inline-block;
	padding:0px 7px;
}


.scroll {
	position: relative;
	
	&--horizental {
		-webkit-overflow-scrolling: touch;
		overflow:auto !important;
		padding-bottom: 20px;
	}
	
	&:after {
		content: '';
		position: absolute;
		right: -10px;
		top: 0px;
		bottom: 0px;
		width: 60px;
		background: rgb(255,255,255);
		background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	}
}


/* inpage nav */
.inpagenav_simple{cursor: default;background-color:rgba(255, 255, 255, 0.64);min-height:40px;white-space: nowrap;overflow-x: auto;-webkit-overflow-scrolling: touch;-ms-overflow-style: -ms-autohiding-scrollbar;}
.inpagenav_simple::-webkit-scrollbar {display: none; }
.inpagenav_simple ul {margin: auto;}
.inpagenav_simple ul li,#MarketNav ul{display:inline-block;padding:0px;margin:0px;list-style:none;}
.inpagenav_simple ul li a{color:$color-black !important;font-size:14px;font-weight:500;border-bottom:2px solid rgba(255, 255, 255, 0.0);padding:0 25px;display:inline-block;height:40px;line-height:40px;text-transform: uppercase;}
.inpagenav_simple ul li.active a{border-color:$color-har-blue !important;color:$color-har-blue !important;-webkit-transition: none;-moz-transition: none;-o-transition: none;transition: none;}
.inpagenav_simple ul li.active path{fill:$color-har-blue;}
.inpagenav_simple ul li a:hover{border-color:$color-har-blue; text-decoration: none;}
@media (max-width:768px) {
	.inpagenav ul li a{padding:0 15px;}
}
@media (max-width:576px) {
   .inpagenav ul li a{padding:0 10px;}
}


/* navbar */
.inpagenav{cursor: default;background-color:rgba(255, 255, 255, 0.64);min-height:64px;position:static;position:-webkit-sticky;position:-moz-sticky;position:sticky !important;z-index:111;top:0px;-webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px);white-space: nowrap;overflow-x: auto;-webkit-overflow-scrolling: touch;-ms-overflow-style: -ms-autohiding-scrollbar;border-bottom:2px solid #dae1f8;}
.inpagenav::-webkit-scrollbar {display: none; }
.modal-open .inpagenav{position: static;}
.inpagenav ul {margin: auto;}
.inpagenav ul li,#MarketNav ul{display:inline-block;padding:0px;margin:0px;list-style:none;}
.inpagenav ul li a{color:$color-black !important;font-size:14px;font-weight:600;border-bottom:4px solid rgba(255, 255, 255, 0.0);padding:0 25px;display:inline-block;height:62px;line-height:62px;}
.inpagenav ul li.active a{border-bottom:2px solid $color-har-blue !important;color:$color-har-blue !important;-webkit-transition: none;-moz-transition: none;-o-transition: none;transition: none;}
.inpagenav ul li a:hover{border-bottom:2px solid $color-har-blue !important; text-decoration: none;}
.nav_shadow {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24);}
@media (max-width:768px) {
	.inpagenav ul li a{padding:0 15px;}
}
@media (max-width:576px) {   
   .inpagenav ul li a{padding:0 10px;}
}
   
//bootbox customization
.bootbox-close-button {
	top: 14px !important;
	width: 16px !important;
	height: 16px !important;
	background-image: url(https://content.harstatic.com/media/icons/icon-close-auxiliary.svg);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 0px !important;
	img {
		display: none !important;
	}
}

.border--end{border-bottom: 4px solid #ff0065;}
.bigicon_btn {text-decoration: none !important;transition: all 0.2s ease !important;}
.bigicon_btn img {-webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)); filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1)); }
.bigicon_btn:hover img {-webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.24)); filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.24)); transition: all 0.2s ease !important;}

.hero_landing_page {background-image: none !important;}

.was-validated .form-control:invalid, .form-control.is-invalid {background-image:url(https://content.harstatic.com/media/icons/icon-field-required_input.svg) !important;background-size: 14px !important; background-position:right 10px center !important;}
.bg__bottom {background-position:center bottom;}



.nps_popup {	
	.modal-body{
		padding: 0px;
		
		&--message {
			background-color: #042280;
			padding: 30px;
			color: #ffffff;
			text-align: center;
			font-size: 600;
			font-size: 18px;
		}
		
		&--input {
			padding: 30px;
		}
	}
}

#schoolBoundriesDropdown{
    width: 150px;
}


.sellyourhome {
	background: #edf0fa url("https://content.harstatic.com/resources/images/buyorsell/buyorsell_img.svg") no-repeat;
	background-position: right center;
	padding: 40px 300px 40px 48px;
	margin: 0px auto;
	
	@media screen and (max-width: 768px) {
		padding: 40px 40px 120px 48px;
		background-size:180px;
		background-position:right bottom;
		
		&.homwworth {
			padding:20px 20px 180px 20px;
		}
	}
	
	@media (max-width:576px) {
	   padding: 20px 20px 150px 20px;
	   background-size:180px;
	}
}



.sec-mrg {
	margin-bottom: 40px;
	
	&--large {
		margin-bottom: 112px;
		
		@media screen and (max-width: 768px) {
			margin-bottom: 60px;
		}
	}
}

.page_bottom_border {
	border-bottom: 4px solid #ff0065
}
.removeLink a,a.removeLink {
    pointer-events: none;
}

.searchsection__large {
	border-radius: 32px;
	background-color: #e9eef0;
	padding: 48px 0px 48px 0px;	
}

.filters_row .filters_row_inner {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 50px 0px 0px;
	/*
	@media (max-width:1200px) {
		padding-right: 15px;
	}*/
}

#map_search {
	.filters_row .filters_row_inner {
		padding: 0px 0px 0px 0px;
		max-width: none;
	}	
}

.mapprop_popover {
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4);
	background-color: #fff;
	border-radius: 8px;
	padding: 8px 8px 16px;
	position: relative;
	width: 294px;
	text-align: left;
	
	&:after {
		position: absolute;
		content: "";
		position: absolute;
	    left: calc(50% - 22px);
	    top: -10px;
	    width: 0;
	    height: 0;
	    border-left: 18px solid transparent;
	    border-right: 18px solid transparent;
	    border-bottom: 18px solid #ffffff;
	    clear: both;
	}
	
	&__img {
		object-fit: cover;
		height: 178px;
		width: 100%;
		border-radius: 4px;
		margin-bottom: 16px;	
	}
	
	&__details {
		padding: 0px 8px;
		
		&__price {
			font-size: $font-size-large_extra;
			font-weight: $font-weight-semi_bold;
			margin-bottom: 0px !important;
			padding-bottom: 0px !important;
		}
		
		&__desc {
			font-size: $font-size-medium;
			font-weight: $font-weight-semi_bold;
			margin-bottom: 16px;
		}
	}
}

.mapprop_popover__small {
	box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.32);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.88));
	border-radius: 8px;
	padding: 8px 8px 10px 8px;
	width: 224px;
	text-align: left;
	
	&__img {
		object-fit: cover;
		height: 108px;
		width: 100%;
		border-radius: 4px;
		margin-bottom: 10px;	
	}
	
	&__details {
		padding: 0px 0px;
		
		&__price {
			font-size: $font-size-medium;
			font-weight: $font-weight-semi_bold;
			margin-bottom: 0px !important;
			padding-bottom: 0px !important;
		}
		
		&__desc {
			font-size: $font-size-small;
			color: $color-cement-dark;
			margin-bottom: 6px;
			line-height: 1.64;
			
			ul	{
				margin: 0px;
				padding: 0px;

				li {
					display: inline-block;
					font-size: $font-size-small_extra;
					list-style: none;
					margin: 0px;
					padding:0px;
					
					&:after{
						margin: 0px 0px 0 4px;
						content: "·";
					}
					
					&:last-child {
						&:after{
							margin: 0px;
							content: "";
						}	
					}
				}
			}
		}
	}
	&__viewmore {
		font-size: $font-size-medium;
		font-weight: $font-weight-bold;
		text-align: center;
		display: block;
		text-decoration: none;
	}
}


.mp__custom.mapboxgl-popup { width:294px !important; }
.mp__custom .mapprop_popover__details__desc { color:#000000 !important; text-decoration: none !important; font-weight: 600 !important; }
.mp__custom .mapboxgl-popup-content {box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.4);background-color: #fff;border-radius: 8px; }
.mp__custom .mapboxgl-popup-content > div > a > img {object-fit: cover;height: 178px;width: 100%;border-radius: 4px;margin-bottom: 16px; }
.mp__custom.mapboxgl-popup .mapboxgl-popup-close-button {background-image: url(https://content.harstatic.com/media/icons/close_circle_blue_crose.svg) !important;width: 26px;height: 26px;border-radius: 50%;background-color: #ffffff;background-size: cover;top: 12px !important;right: 12px !important;}
    
    
.container .container { 
	padding-left:0px !important;
	padding-right:0px !important; 
}

.available_text { color: #018361; font-weight: 600; padding-bottom: .5rem !important; padding-top: .5rem !important; }

.date_card{width:64px !important;height:88px;float:left;margin:2px !important;cursor:pointer;border:1px solid #d0d0d0;}
.date_card .date_card_top {font-size:11px; color:rgba(93, 94, 94, 0.64); text-align: center; line-height:normal;padding-top:13px;}
.date_card .date_card_date { font-size:24px; color: #000000; font-weight: 600; text-align: center; line-height:1; padding-top:3px; padding-bottom:2px;}
.date_card .date_card_bottom { color:rgba(93, 94, 94, 0.64); text-transform: uppercase; font-size:12px; text-align: center; line-height:normal; padding-bottom: 2px; }
.date_card.selected{border:2px solid #018361 !important; color:#018361 !important;}

.date_card.date_card__small {width:56px !important;height: 69px;}
.date_card.date_card__small .date_card_top {padding-top:8px;font-size:9px;color:$color-auxiliary;}
.date_card.date_card__small .date_card_bottom {font-size:9px;padding-bottom:10px;color:$color-auxiliary;}
.date_card.date_card__small .date_card_date { font-size:20px;}

.date_card.date_card__large {
	width:87px !important;
	height:90px;
	
	.date_card_top {
		padding-top:14px;
		font-size:9px;
		color:$color-auxiliary;
		text-transform: uppercase;
	}
	
	.date_card_bottom {
		font-size:9px;
		padding-bottom:10px;
		color:$color-auxiliary;
		text-transform: uppercase;
		
		border-radius: 6.8px;
		background-color: #ffffff;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		padding: 2px 7px;

	}
	
	.date_card_date { 
		font-size:26px;
		line-height: 32px;
		font-weight: bold;		
	}
	
	&.selected {
		box-shadow: 0 0 0 2px #042280 !important;
		border: solid 1px #042280 !important;

		.date_card_date { 
			color: #042280;
		}
		
		.date_card_top {
			color: #042280;
		}
		
		.date_card_bottom {
			color: #042280;
			border-radius: 6.8px;
			background-color: #dae1f8;
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	
}
.label_header {height: 56px;margin: 0 10px 0 0;padding: 8px 20px 8px 20px;border-radius: 28px;background-color: #c1f2ef;}
.filters_container {background-color: rgb(255, 255, 255) !important; background-color: #ffffff;}
.border_mobile_none { 
	@media screen and (max-width: 768px) {
		border:none !important;
	}
}
.anchor { display: block; height: 102px; margin-top: -102px; visibility: hidden; }